---
title: "Midterm Study Guide"
output: pdf_document
author: Midterm - Friday Feb 8th in class
date: "2019-02-01"
weeks: '4'
links:
  - ["midterm/midterm16.pdf", "Practice Midterm"]
  - ["midterm/midterm16-solution.pdf", "Practice Midterm Solutions"]
  - ["midterm/StatisticalTables.pdf", "Statistical Tables"]
---



<p><strong>The midterm is closed book.</strong><br />
I will provide statistical tables if you need them (so you should know how to use them).<br />
You should bring a calculator (although arithmetic errors are generally forgiven).</p>
<p>Things you will <strong>not</strong> have to do:</p>
<ul>
<li>write any R code</li>
<li>invert more than a 2x2 matrix</li>
<li>perform matrix arithmetic on more than a 3x3 matrix</li>
</ul>
<p><strong>You should be able to:</strong></p>
<ul>
<li><p>State the multiple regression model in matrix form along with the assumptions on the errors and design matrix.</p></li>
<li><p>Describe the entries in the design matrix given a model and study description.</p></li>
<li><p>Derive the least squares estimates.</p></li>
<li><p>Define fitted values and residuals.</p></li>
<li><p>Describe the difference between random errors and residuals.</p></li>
<li><p>Derive the mean and variance-covariance matrix of the least squares estimates in multiple linear regression.</p></li>
<li><p>State the Gauss-Markov theorem and discuss it’s consequences in practice.</p></li>
<li><p>State the form and properties of the estimate for the variance of the errors.</p></li>
<li><p>Describe why using <code>lm()</code> in R is preferable to performing the matrix algebra <span class="math inline">\(\left(X^TX\right)^{-1}X^TY\)</span>.</p></li>
<li><p>State the distribution of the least squares estimates under the assumption of Normal errors.</p></li>
<li><p>Identify properties of the least squares estimates (i.e. form of the estimates, mean, variance and distribution of the estiamtes, unbiasedness, BLUE, etc.) that rely on the Normality assumption.</p></li>
<li><p>Describe the consequences of having orthogonal columns in the design matrix.</p></li>
<li><p>State the null distribution of t-statistics and F-statistics in hypothesis tests relevant to multiple linear regression models.</p></li>
<li><p>Construct t-based confidence intervals and hypothesis tests on individual parameters, or linear combinations of individual parameters, given either R output, or the neccessary estimates, and <span class="math inline">\((X^TX)^{-1}\)</span></p></li>
<li><p>Construct prediction intervals for the mean response or a future response, given either R ouput, or the neccessary estimates, and <span class="math inline">\((X^TX)^{-1}\)</span></p></li>
<li><p>Discuss the difference between a interval for the mean response and an interval for a future response.</p></li>
<li><p>Discuss ways in which a prediction model can go wrong.</p></li>
<li><p>Interpret a confidence interval or prediction interval in the context of a study.</p></li>
<li><p>Comment on the conclusion a hypothesis test would reach based on the result of a confidence interval/region.</p></li>
<li><p>Conduct an F-test to compare two models.</p></li>
<li><p>Interpret the result of an F-test in context of a study.</p></li>
<li><p>State the null and alternative hypotheses in the overall regression sum of squares F-test.</p></li>
<li><p>Find the linear parameteric function test equivalent to a model test and vice versa (i.e. HW#4 Q1).</p></li>
</ul>
