---
title: "Welcome"
author: "Charlotte Wickham"
date: '2019-01-07'
subtitle: ST552 Lecture 1
types: lecture
weeks: '1'
weeks_weight: 1
output: beamer_presentation
draft: false
---



<div id="hello-my-name-is-charlotte" class="section level2">
<h2>Hello, my name is Charlotte</h2>
<ul>
<li><p>I’m from New Zealand, but I’ve also lived in Ireland and California</p></li>
<li><p>I have a husband and two cats</p></li>
<li><p>I really enjoy playing indoor soccer at the Corvallis Sports Park.</p></li>
<li><p>I like making, building and fixing things.</p></li>
</ul>
</div>
<div id="stat552.cwick.co.nz" class="section level1">
<h1><a href="https://stat552.cwick.co.nz"><code>stat552.cwick.co.nz</code></a></h1>
<div id="today" class="section level2">
<h2>Today</h2>
<ul>
<li>General Overview</li>
<li>Syllabus</li>
<li>Getting to know you and what you already know</li>
</ul>
</div>
<div id="st552-is-linear-models" class="section level2">
<h2>ST552 is Linear Models</h2>
<p>a.k.a Regression models (of the linear kind)</p>
<p>One type of model that describes the relationship between a continuous response variable and one or more explanatory variables.</p>
<p>Three pronged attack:</p>
<ul>
<li>Theory of linear regression models (first half)</li>
<li>Linear models in practice (second half)</li>
<li>R for linear models, data exploration and simulation (everywhere)</li>
</ul>
</div>
<div id="textbook" class="section level2">
<h2>Textbook</h2>
<p><a href="https://search.library.oregonstate.edu/primo-explore/fulldisplay?docid=CP71241609370001451&amp;context=L&amp;vid=OSU&amp;search_scope=everything&amp;tab=default_tab&amp;lang=en_US">Linear Models with R, Second Edition by J. Faraway (Chapman &amp; Hall/CRC Texts in Statistical Science)</a></p>
<p>This is available to read online through the OSU library.</p>
<p>I will post specific sections to read as part of homework, but you should also be following along independently.</p>
</div>
<div id="syllabus" class="section level2">
<h2>Syllabus</h2>
</div>
<div id="my-style" class="section level2">
<h2>My style</h2>
<p>I tend to use slides. I will post them at stat552.cwick.co.nz by noon the day of lecture.</p>
<p>I’ll leave blanks for derivations, question answers, or sketches. I.e. you might want to print them and bring them along.</p>
<p>After lecture, I will post scans of anything I do on the document camera.</p>
<p>Sometimes we might do actual analyses in class, and a laptop will be handy, I’ll let you know when to bring it.</p>
<p>I expect you to ask questions! There are no <em>stupid</em> questions, but if I don’t think we have time to answer it properly in class, don’t be offended if I ask you to ask it on the discussion board or in office hours.</p>
</div>
<div id="if-you-have-some-time-between-now-and-lab" class="section level2">
<h2>If you have some time between now and lab</h2>
<ul>
<li><p>Sign up for a free account on <a href="https://rstudio.cloud/">rstudio.cloud</a></p></li>
<li><p>Start reading Chapter 1 in Linear Models with R</p></li>
</ul>
</div>
</div>
<div id="what-do-you-already-know" class="section level1">
<h1>What do you already know?</h1>
<div id="your-turn" class="section level2">
<h2>Your turn</h2>
<p>Get into groups of 4-5. Introduce yourselves.</p>
<p>Appoint a recorder, who will find some paper, and start by writing all your names on it.</p>
<p>Brainstorm everything you know about <strong>simple</strong> linear regression and record in on paper.</p>
<p><em>Simple, means only one explanatory variable.</em></p>
</div>
<div id="wrapping-up" class="section level2">
<h2>Wrapping up</h2>
<p>I want that piece of paper.</p>
<p>See you Wednesday: Review of simple linear regression</p>
</div>
</div>
