---
title: "Simple Linear Regression 2"
subtitle: "ST552 Lecture 3"
author: "Charlotte Wickham"
date: '2019-01-11'
weeks: "1"
type: lecture
output: beamer_presentation
links:
  - ["lecture/03-doc-cam.pdf", "Annotated Slides"]
---



<div id="today" class="section level2">
<h2>Today</h2>
<ul>
<li>Inference on the coefficients</li>
<li>F-tests</li>
</ul>
</div>
<div id="inference-on-the-coefficients" class="section level2">
<h2>Inference on the coefficients</h2>
<p>With the addition of the Normality assumption,</p>
<p><span class="math display">\[
\frac{\hat{\beta_0} - \beta_0}{\sqrt{\VarH{\hat{\beta_0}}}} \sim t_{n-2}  \quad \text{and} \quad
\frac{\hat{\beta_1} - \beta_1}{\sqrt{\VarH{\hat{\beta_1}}}} \sim t_{n-2}
\]</span> where <span class="math inline">\(\VarH{.}\)</span> is the variance of the estimate with <span class="math inline">\(\hat{\sigma}\)</span> plugged in for <span class="math inline">\(\sigma\)</span>.</p>
<p>Leads to confidence intervals and hypothesis tests of the individual coefficients.</p>
<p>Also under Normality the least squares estimates of slope and intercept <strong>are</strong> the maximum likelihood estimates.</p>
</div>
<div id="weightlifting-birds" class="section level2">
<h2>Weightlifting birds</h2>
<p>Recall the model: <span class="math display">\[
\text{Mass}_i = \beta_0 + \beta_1 \text{Tcell}_i + \epsilon_i, \quad i = 1, \ldots, 21
\]</span></p>
<p><span class="math inline">\(\hat{\beta_1}\)</span> = 10.165<br />
<span class="math inline">\(\VarH{\hat{\beta_1}} = 3.296^2\)</span></p>
<p><strong>What’s the t-statistic for testing the null hypothesis <span class="math inline">\(H_0: \beta_1 = 0\)</span>?</strong></p>
</div>
<div id="summaryslr" class="section level2">
<h2><code>summary(slr)</code></h2>

<pre><code>#&gt; 
#&gt; Call:
#&gt; lm(formula = Mass ~ Tcell, data = ex0727)
#&gt; 
#&gt; Residuals:
#&gt;     Min      1Q  Median      3Q     Max 
#&gt; -3.1429 -0.7327  0.3448  0.7472  3.2736 
#&gt; 
#&gt; Coefficients:
#&gt;             Estimate Std. Error t value Pr(&gt;|t|)   
#&gt; (Intercept)    3.911      1.112   3.517  0.00230 **
#&gt; Tcell         10.165      3.296   3.084  0.00611 **
#&gt; ---
#&gt; Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1
#&gt; 
#&gt; Residual standard error: 1.426 on 19 degrees of freedom
#&gt; Multiple R-squared:  0.3336, Adjusted R-squared:  0.2986 
#&gt; F-statistic: 9.513 on 1 and 19 DF,  p-value: 0.006105</code></pre>
</div>
<div id="prediction" class="section level2">
<h2>Prediction</h2>
<p>Consider some new observation with explanatory value <span class="math inline">\(x_0\)</span>. The true response is, <span class="math display">\[
y_0 = \beta_0 + \beta_1 x_0 + \epsilon
\]</span> with expected value <span class="math display">\[
\E{y_0} = \beta_0 + \beta_1 x_0 
\]</span></p>
<p>There are two things we might be interested in:</p>
<ul>
<li>estimating the mean response at this value, <span class="math inline">\(\hat{\text{E}}(y_0)\)</span></li>
<li>predicting the response at this value, <span class="math inline">\(\text{Pred}({y_0})\)</span></li>
</ul>
<p>For both cases the point prediction is, <span class="math display">\[
\text{Pred}({y_0}) = \hat{y_0} = \hat{\beta_0} + \hat{\beta_1} x_0
\]</span></p>
</div>
<div id="confidence-interval-on-the-mean-response" class="section level2">
<h2>Confidence interval on the mean response</h2>
<p>When estimating the <strong>mean response</strong>, uncertainty only comes from the <strong>uncertainty in our estimates of the slope and intercept</strong>.</p>
<p><span class="math display">\[
\Var{\hat{y_0}} = \sigma^2 \left[\frac{1}{n} + \frac{(x_0 - \bar{x})^2}{\sum_{i=1}^n (x_i - \bar{x})^2} \right]
\]</span></p>
<p>Leads to confidence intervals of the form <span class="math display">\[
\hat{y_0} \pm t_{n-2, 1 - \alpha/2} \sqrt{\VarH{\hat{y_0}}}
\]</span></p>
<p>“With 95% confidence, we estimate the mean response is between …”</p>
</div>
<div id="prediction-interval-for-a-new-response" class="section level2">
<h2>Prediction interval for a new response</h2>
<p>When <strong>predicting a new response</strong>, uncertainty <strong>also</strong> comes from the <strong>variation about the mean</strong>.</p>
<p><span class="math display">\[
\Var{\text{Pred}({y_0})} = \Var{\hat{y_0}} + \sigma^2
\]</span></p>
<p>Leads to <strong>prediction</strong> intervals of the form <span class="math display">\[
\hat{y_0} \pm t_{n-2, 1 - \alpha/2} \sqrt{\VarH{\text{Pred}({y_0})}}
\]</span></p>
<p>“A 95% prediction interval for the response is …”</p>
<p>(<em>I don’t like the wording “With 95% probability, …” because it isn’t quite correct, part of our uncertainty is still uncertainty in the estimation of parameters, not just uncertainty from the random error.</em>)</p>
</div>
<div id="general-idea-partitioning-the-variation" class="section level2">
<h2>General Idea: Partitioning the variation</h2>
<p>We see variation in the response. We want to attribute that variation to different sources: variation due to the mean varying according to our regression model, and variation due to the random error.</p>
</div>
<div id="sketch" class="section level2">
<h2>Sketch</h2>
<p><img src="/lecture/03-simple-linear-regression2_files/figure-html/unnamed-chunk-3-1.png" width="4in" style="display: block; margin: auto;" /></p>
</div>
<div id="partition-of-variation" class="section level2">
<h2>Partition of variation</h2>
<p><span class="math display">\[
\begin{aligned}
\text{Total Sum of Squares} = \sum_{i=1}^n{(y_i - \bar{y})^2} \\
\text{Residual Sum of Squares} = \sum_{i=1}^n{(y_i - \hat{y}_i)^2} 
\end{aligned}
\]</span></p>
<p>Can show <span class="math display">\[
\begin{aligned}
\sum_{i=1}^n{(y_i - \bar{y})^2}  &amp;= \sum_{i=1}^n{(y_i - \hat{y}_i)^2} &amp;+&amp; \sum_{i=1}^n{(\hat{y}_i - \bar{y})^2} \\
\text{Total SS} &amp;= \text{Residual SS} &amp;+&amp; \text{Regression SS}
\end{aligned}
\]</span> Many notations:</p>
<p>Total SS = TSS = <span class="math inline">\(SS_{Total}\)</span> = <span class="math inline">\(SS(Total)\)</span></p>
<p>Residual SS = RSS = SSE = <span class="math inline">\(SS_{Res}\)</span> = <span class="math inline">\(SS(Res)\)</span></p>
<p>Regression SS = SSR = <span class="math inline">\(SS_{Reg}\)</span> = <span class="math inline">\(SS(Reg)\)</span> = <span class="math inline">\(SS(Model)\)</span></p>

</div>
<div id="degrees-of-freedom" class="section level2">
<h2>Degrees of freedom</h2>
<p>The degrees of freedom for each sum of squares are also additive <span class="math display">\[
\begin{aligned}
n-1  &amp;= n-2 &amp;+&amp; 1 \\
\text{Total df} &amp;= \text{Residual d.f.} &amp;+&amp; \text{Regression d.f.}
\end{aligned}
\]</span></p>
<p><span class="math inline">\(\text{SS}(.) / \text{d.f.}(.) = \text{Mean sum of squares} (.) = \text{MSS}(.)\)</span></p>
</div>
<div id="r-squared" class="section level2">
<h2>R-squared</h2>
<p><span class="math inline">\(R^2\)</span> is simply the proportion of variation in the response explained by the model</p>
<p><span class="math display">\[
R^2 = \frac{\text{Total SS} - \text{Residual SS}}{\text{Total SS}}
\]</span></p>
<p>In simple linear regression <span class="math inline">\(R^2\)</span> is the square of the Pearson correlation between <span class="math inline">\(x\)</span> and <span class="math inline">\(y\)</span>.</p>
</div>
<div id="next-week" class="section level2">
<h2>Next Week</h2>
<p>I’m out of town, Trevor, your TA, will lead lecture and lab.</p>
<p>I’ll be reachable by email, but will have limited time to respond, especially on Tue and Wed.</p>
<p>You don’t need to print the notes, Trevor will bring a packet for the week for you on Monday (and I’ll post them online as well).</p>
<p>Multiple linear regression:</p>
<ul>
<li>Matrix setup</li>
<li>Least squares estimates</li>
<li>Properties of the least squares estimates</li>
</ul>
<p>Read along in Chapter 2 of the textbook.</p>
</div>
