---
title: "Multiple Linear Regression"
subtitle: "ST552 Lecture 4"
author: "Charlotte Wickham"
date: "2019-01-14"
output: beamer_presentation
types: lecture
weeks: '2'
links:
  - ["worksheet/04-matrix-warmup.pdf", "Matrix Warmup"]
---



<div id="today" class="section level2">
<h2>Today</h2>
<ul>
<li>Matrix warmup</li>
<li>Multiple Linear Regression</li>
<li>Matrix setup</li>
</ul>
</div>
<div id="matrix-warmup" class="section level2">
<h2>Matrix warmup</h2>
<p>See handout</p>
</div>
<div id="simple-linear-regression" class="section level2">
<h2>Simple linear regression</h2>
<p>Recall in simple linear regression:</p>
<p>Have <span class="math inline">\(n\)</span> observations of a response <span class="math inline">\(y_i\)</span>, and a single explanatory variable, <span class="math inline">\(x_i\)</span>.</p>
<p>The response is related to the explanatory variable by: <span class="math display">\[
y_i = \beta_0 + \beta_1 x_{i} + \epsilon_i  \quad i = 1, \ldots, n
\]</span></p>
<p>where <span class="math inline">\(\epsilon_i\)</span> are independent and identically distributed with expected value 0, and variance <span class="math inline">\(\sigma^2\)</span>.</p>
</div>
<div id="multiple-linear-regression" class="section level2">
<h2>Multiple linear regression</h2>
<p>Now we have <strong>more than one explanatory variable</strong>.</p>
<p>Have <span class="math inline">\(n\)</span> observations of a response, <span class="math inline">\(y_i\)</span> and <strong>a set of</strong> explanatory variables, <span class="math inline">\((x_{i1}, x_{i2}, \ldots, x_{i(p-1)})\)</span>.</p>
<p>The response is related to the explanatory variables by: <span class="math display">\[
y_i = \beta_0 + \beta_1 x_{i1} + \beta_2 x_{i2} + \ldots + \beta_{p-1} x_{i(p-1)} + \epsilon_i  \quad i = 1, \ldots, n
\]</span></p>
<p>where <span class="math inline">\(\epsilon_i\)</span> are independent and identically distributed with expected value 0, and variance <span class="math inline">\(\sigma^2\)</span>.</p>
</div>
<div id="example-galapagos-islands" class="section level2">
<h2>Example: Galápagos Islands</h2>
<p><em>Faraway 2.6</em></p>
<p>Measurements on 30 Galápagos Islands are made.</p>
<p> First 5 islands:</p>
<table>
<colgroup>
<col width="21%" />
<col width="13%" />
<col width="10%" />
<col width="16%" />
<col width="13%" />
<col width="10%" />
<col width="13%" />
</colgroup>
<thead>
<tr class="header">
<th align="right"> </th>
<th align="right">Species</th>
<th align="right">Area</th>
<th align="right">Elevation</th>
<th align="right">Nearest</th>
<th align="right">Scruz</th>
<th align="right">Adjacent</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="right"><strong>Baltra</strong></td>
<td align="right">58</td>
<td align="right">25.09</td>
<td align="right">346</td>
<td align="right">0.6</td>
<td align="right">0.6</td>
<td align="right">1.84</td>
</tr>
<tr class="even">
<td align="right"><strong>Bartolome</strong></td>
<td align="right">31</td>
<td align="right">1.24</td>
<td align="right">109</td>
<td align="right">0.6</td>
<td align="right">26.3</td>
<td align="right">572.3</td>
</tr>
<tr class="odd">
<td align="right"><strong>Caldwell</strong></td>
<td align="right">3</td>
<td align="right">0.21</td>
<td align="right">114</td>
<td align="right">2.8</td>
<td align="right">58.7</td>
<td align="right">0.78</td>
</tr>
<tr class="even">
<td align="right"><strong>Champion</strong></td>
<td align="right">25</td>
<td align="right">0.1</td>
<td align="right">46</td>
<td align="right">1.9</td>
<td align="right">47.4</td>
<td align="right">0.18</td>
</tr>
<tr class="odd">
<td align="right"><strong>Coamano</strong></td>
<td align="right">2</td>
<td align="right">0.05</td>
<td align="right">77</td>
<td align="right">1.9</td>
<td align="right">1.9</td>
<td align="right">903.8</td>
</tr>
</tbody>
</table>

</div>
<div id="variable-descriptions" class="section level2">
<h2>Variable Descriptions</h2>

<pre class="r"><code>?gala</code></pre>
<div class="r-help-page">
<table width="100%" summary="page for gala">
<tr>
<td>
gala
</td>
<td style="text-align: right;">
R Documentation
</td>
</tr>
</table>
<h2>
Species diversity on the Galapagos Islands
</h2>
<h3>
Format
</h3>
<p>
The dataset contains the following variables
</p>
<dl>
<dt>
<code>Species</code>
</dt>
<dd>
<p>
the number of plant species found on the island
</p>
</dd>
<dt>
<code>Endemics</code>
</dt>
<dd>
<p>
the number of endemic species
</p>
</dd>
<dt>
<code>Area</code>
</dt>
<dd>
<p>
the area of the island (km<span class="math inline">\(^2\)</span>)
</p>
</dd>
<dt>
<code>Elevation</code>
</dt>
<dd>
<p>
the highest elevation of the island (m)
</p>
</dd>
<dt>
<code>Nearest</code>
</dt>
<dd>
<p>
the distance from the nearest island (km)
</p>
</dd>
<dt>
<code>Scruz</code>
</dt>
<dd>
<p>
the distance from Santa Cruz island (km)
</p>
</dd>
<dt>
<code>Adjacent</code>
</dt>
<dd>
<p>
the area of the adjacent island (square km)
</p>
</dd>
</dl>
</div>
</div>
<div id="a-possible-model" class="section level2">
<h2>A possible model</h2>
<p><span class="math display">\[
\begin{aligned}
\text{Species}_i &amp;= \beta_0 + \beta_1 \text{Area}_i  + \beta_2 \text{Elevation}_i + \beta_3 \text{Nearest}_i + \\ &amp; \quad \beta_4 \text{Scruz}_i + \beta_5 \text{Adjacent}_i + \epsilon_i \quad i = 1, \ldots, n
\end{aligned}
\]</span></p>
<p>E.g. <span class="math inline">\(i = 1\)</span>, <em>Baltra</em>: <span class="math display">\[
58 = \beta_0 + \beta_1 25.09  + \beta_2 346 + \beta_3 0.6 + \beta_4 0.4 + \beta_5 1.84 + \epsilon_1
\]</span></p>
<p><strong>Your turn</strong>:</p>
<ul>
<li>What does <span class="math inline">\(i\)</span> index?</li>
<li>What is the value of <span class="math inline">\(n\)</span>?</li>
<li>What is the value of <span class="math inline">\(p\)</span>?</li>
</ul>
</div>
<div id="general-matrix-form" class="section level2">
<h2>General matrix form</h2>
<p><span class="math display">\[
\begin{aligned}
\left(\begin{matrix}
y_1 \\
y_2 \\
\vdots \\
y_n
\end{matrix}\right) &amp;=
\left(\begin{matrix}
1 &amp; x_{11}  &amp; x_{12} &amp; \ldots &amp; x_{1 (p-1)}\\
1 &amp; x_{21}  &amp; x_{22} &amp; \ldots &amp; x_{2 (p-1)}\\
\vdots &amp; \vdots &amp; \vdots &amp; \vdots &amp; \vdots \\
1 &amp; x_{n1}  &amp; x_{n2} &amp; \ldots &amp; x_{n (p-1)}\\
\end{matrix}\right) 
\left(\begin{matrix}
\beta_0 \\
\beta_1 \\
\vdots \\
\beta_{p-1}
\end{matrix}\right) +
\left(\begin{matrix}
\epsilon_1 \\
\epsilon_2 \\
\vdots \\
\epsilon_n 
\end{matrix}\right) \\
y &amp;= X\beta + \epsilon
\end{aligned}
\]</span> where <span class="math display">\[
\begin{aligned}
y_{n\times 1} &amp;= (y_1,  y_2, \ldots, y_n)^T \\ 
\epsilon_{n\times 1} &amp;= (\epsilon_1,  \epsilon_2, \ldots, \epsilon_n)^T \\
\beta_{p\times 1} &amp;= (\beta_0, \beta_1, \ldots, \beta_{p-1})^T \\
X_{n \times p} &amp;=  \left(\begin{matrix}
1 &amp; x_{11}  &amp; x_{12} &amp; \ldots &amp; x_{1 (p-1)}\\
1 &amp; x_{21}  &amp; x_{22} &amp; \ldots &amp; x_{2 (p-1)}\\
\vdots &amp; \vdots &amp; \vdots &amp; \vdots &amp; \vdots \\
1 &amp; x_{n1}  &amp; x_{n2} &amp; \ldots &amp; x_{n (p-1)}\\
\end{matrix}\right) 
\end{aligned}
\]</span></p>
</div>
<div id="galapagos-matrix-form" class="section level2">
<h2>Galápagos: Matrix form</h2>
<p><span class="math display">\[
y_{30\times 1} = \left(
  \begin{array}{c}
  58\\ 
31\\ 
3\\ 
25\\ 
2 \\
  \vdots
  \end{array}
\right), \,
X_{30\times 6} = \left(
  \begin{array}{rrrrrr}
  1 &amp; 25.09 &amp; 346 &amp; 0.6 &amp; 0.6 &amp; 1.84\\ 
 1 &amp; 1.24 &amp; 109 &amp; 0.6 &amp; 26.3 &amp; 572.33\\ 
 1 &amp; 0.21 &amp; 114 &amp; 2.8 &amp; 58.7 &amp; 0.78\\ 
 1 &amp; 0.1 &amp; 46 &amp; 1.9 &amp; 47.4 &amp; 0.18\\ 
 1 &amp; 0.05 &amp; 77 &amp; 1.9 &amp; 1.9 &amp; 903.82 \\
  \vdots &amp; \vdots &amp;  \vdots &amp; \vdots &amp; \vdots &amp; \vdots \\
  \end{array}
\right)
\]</span></p>
<p><span class="math display">\[
\beta_{6 \times 1} = \left(
\begin{array}{c}
  \beta_0 \\ 
  \beta_1 \\
  \beta_2 \\  
  \beta_3 \\  
  \beta_4 \\  
  \beta_5 
\end{array}
\right), \quad
\epsilon_{30 \times 1} = \left(
\begin{array}{c}
  \epsilon_1 \\
  \epsilon_2 \\
  \epsilon_3 \\
  \epsilon_4 \\
  \epsilon_5 \\
  \vdots
\end{array}
\right)
\]</span></p>
</div>
<div id="your-turn" class="section level2">
<h2>Your Turn</h2>
<p>Write out the design matrix, <span class="math inline">\(X\)</span>, for the following models, using the data for the first five islands:</p>
<p><span class="math display">\[
\begin{aligned}
\text{Species}_i &amp;= \beta_0 + \beta_1 \text{Area}_i + \beta_2 \text{Nearest}_{i} + \epsilon_i \\
\text{Species}_i &amp;= \beta_1 \text{Area}_i + \beta_2  \text{Area}^2_i + \epsilon_i \\
\text{Species}_i &amp;= \beta_0 + \beta_1 1_{\{\text{Area}_i &gt; 1 \}}  + \epsilon_i
\end{aligned}
\]</span> where <span class="math inline">\(1_{\{.\}}\)</span> is an indicator variable that takes the value 1, when the condition in the argument is true, and 0 otherwise.</p>
</div>
<div id="section" class="section level2">
<h2></h2>
</div>
<div id="section-1" class="section level2">
<h2></h2>
</div>
<div id="fitted-values-and-residuals" class="section level2">
<h2>Fitted values and residuals</h2>
<p>If we had an estimate for the <span class="math inline">\(\beta\)</span> vector, <span class="math display">\[
\hat{\beta} = \left(\hat{\beta}_0, \hat{\beta}_1 , \ldots, \hat{\beta}_{p-1} \right)^T
\]</span></p>
<p>Then we can define fitted value and residual vectors: <span class="math display">\[
\begin{aligned}
\hat{y} &amp;= (\hat{y_1}, \ldots, \hat{y_n})^T = X\hat{\beta} \\
e &amp;= \hat{\epsilon} = (e_1, \ldots, e_n)^T = y - X\hat{\beta}
\end{aligned}
\]</span></p>
<p>Questions to answer this week:</p>
<ul>
<li>How will we find <span class="math inline">\(\hat{\beta}\)</span>?</li>
<li>What properties do the estimates have?</li>
</ul>
</div>
