---
title: "Some details to tidy up"
subtitle: "ST552 Lecture 7"
author: "Charlotte Wickham"
weeks: "3"
date: "2019-01-23"
output: beamer_presentation
type: lecture
links:
  - ["worksheet/07-exercises.pdf", "Exercises"]
  - ["lecture/07-annotated.pdf", "Annotated notes"]
---



<div id="summary-of-last-week" class="section level2">
<h2>Summary of last week</h2>
<p>For the linear regression model <span class="math display">\[
Y = X\beta + \epsilon
\]</span> where <span class="math inline">\(\E{\epsilon} = 0_{n\times 1}\)</span>, <span class="math inline">\(\Var{\epsilon} = \sigma^2 I_n\)</span>, and the matrix <span class="math inline">\(X_{n \times p}\)</span> is fixed with rank <span class="math inline">\(p\)</span>.</p>
<p>The least squares estimates are <span class="math display">\[
\hat{\beta} = (X^TX)^{-1}X^TY
\]</span></p>
<p>Furthermore, the least squares estimates are BLUE, and <span class="math display">\[
\E{\hat{\beta}} = \beta, \qquad \Var{\hat{\beta}} = \sigma^2 (X^TX)^{-1}
\]</span></p>
<p>We have not used any Normality assumptions to show these properties.</p>
</div>
<div id="today" class="section level2">
<h2>Today</h2>
<ul>
<li><p>Verify:</p>
<p><span class="math display">\[
\E{\hat{\sigma}^2} = \E{\tfrac{1}{n-p}\sum_{i=1}^n{e_i^2}} = \sigma^2
\]</span></p></li>
<li><p>Add Normal assumption to get inference on regression coefficents.</p></li>
</ul>
</div>
<div id="go-over-the-estimation-of-sigma" class="section level2">
<h2>Go over the estimation of <span class="math inline">\(\sigma\)</span></h2>
<p><strong>Strategy</strong>: Write <span class="math inline">\(e_i^2\)</span> as a linear combination of uncorrelated variables, <span class="math inline">\(\epsilon_i\)</span>.</p>

</div>
<div id="write-correlated-residuals-as-combination-of-uncorrelated-errors" class="section level2">
<h2>Write correlated residuals as combination of uncorrelated errors</h2>
<p><strong>Claim</strong>:</p>
<p><span class="math display">\[
||e||^2 = \epsilon^{T}(I - H)\epsilon
\]</span></p>
<p><strong>Your turn at home</strong>:</p>
<ol style="list-style-type: decimal">
<li><p>Show <span class="math inline">\((I-H)\epsilon = e\)</span>. Hint: substitute <span class="math inline">\(\epsilon = Y - X\beta\)</span>, expand and use properties of <span class="math inline">\(H\)</span>.</p></li>
<li><p>Show <span class="math inline">\(||e||^2 = e^Te = \epsilon^T(I-H)\epsilon\)</span>. Hint: substitute in <span class="math inline">\(e = (I-H)\epsilon\)</span> from above and use properties of <span class="math inline">\((I - H)\)</span>.</p></li>
</ol>
</div>
<div id="find-expected-value-of-e2-in-terms-of-texttracei-h" class="section level2">
<h2>Find expected value of <span class="math inline">\(||e||^2\)</span> in terms of <span class="math inline">\(\text{trace}(I-H)\)</span></h2>
<p><strong>Show</strong> <span class="math inline">\(\E{\epsilon^T(I-H)\epsilon} = \sigma^2 \text{trace}(I-H)\)</span></p>
<p><strong>Hint</strong> <span class="math display">\[
x^TAx = \sum_{i = 1}^n\sum_{j = 1}^n x_i x_j A_{ij}
\]</span> where <span class="math display">\[
x = \left(x_1, x_2, \ldots, x_n \right)^T, \quad A = \begin{pmatrix}
A_{11}&amp; A_{12}&amp; \ldots \\
A_{21}&amp; A_{22}&amp; \ldots \\
\vdots &amp; &amp; \end{pmatrix}_{n\times n}
\]</span></p>
</div>
<div id="find-expected-value-of-e2-in-terms-of-texttracei-h-1" class="section level2">
<h2>Find expected value of <span class="math inline">\(||e||^2\)</span> in terms of <span class="math inline">\(\text{trace}(I-H)\)</span></h2>
<p><span class="math display">\[
\E{\epsilon^T(I-H)\epsilon} = \phantom{\hspace{3in}}
\]</span> </p>
</div>
<div id="find-texttracei-h" class="section level2">
<h2>Find <span class="math inline">\(\text{trace}(I-H)\)</span></h2>
<p>Show <span class="math display">\[\text{trace}(I-H)=n-p\]</span></p>
<p>Hint: <span class="math display">\[
\begin{aligned}
\text{trace}(A + B) &amp;= \text{trace}(A) + \text{trace}(B) \\
\text{trace}(AB) &amp;= \text{trace}(BA)
\end{aligned}
\]</span></p>
<p><span class="math display">\[
\text{trace}(I-H) = \phantom{aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa}
\]</span> </p>
</div>
<div id="put-it-all-together" class="section level2">
<h2>Put it all together</h2>
<p><span class="math display">\[
\E{\hat{\sigma}^2} = \phantom{\hspace{3in}}
\]</span></p>

</div>
<div id="inference-on-the-regression-coefficients" class="section level1">
<h1>Inference on the regression coefficients</h1>
<div id="normality-assumption" class="section level2">
<h2>Normality assumption</h2>
<p>Assume <span class="math inline">\(\epsilon \sim N(0, \sigma^2 I)\)</span>.</p>
<p>Important reminders:</p>
<ul>
<li></li>
<li></li>
</ul>
<p>Leads to: <span class="math display">\[
Y \sim N(\qquad, \qquad)
\]</span></p>
<p><span class="math display">\[
\hat{\beta} \sim N(\qquad, \quad \qquad)
\]</span></p>
</div>
<div id="inference-on-individual-parameters" class="section level2">
<h2>Inference on individual parameters</h2>
<p>With the addition of the Normal assumption, it can be shown that</p>
<p><span class="math display">\[
\frac{\hat{\beta_j} - \beta_j}{SE(\hat{\beta_j})} \sim t_{n-p}
\]</span></p>
<p>leads to the usual construction of tests and confidence intervals for single parameters.</p>
</div>
<div id="exercises" class="section level2">
<h2>Exercises</h2>
<p>See handout.</p>
</div>
</div>
