---
title: "Inference in regression: confidence intervals"
subtitle: "ST552 Lecture 9"
author: "Charlotte Wickham"
weeks: "4"
date: "2019-01-28"
output: beamer_presentation
type: lecture
links:
  - ["lecture/09-annotated.pdf", "Annotated notes"]
---



<div id="today" class="section level2">
<h2>Today</h2>
<ul>
<li>Another view of F-tests</li>
<li>Confidence intervals for single parameters</li>
<li>Confidence intervals for linear combinations of parameters</li>
<li>Confidence intervals for parameters jointly</li>
</ul>
</div>
<div id="last-time" class="section level2">
<h2>Last time…</h2>
<p>Certain hypotheses of interest can be set up as competing models. A full model and a simpler model (nested in the full model). A.K.A testing models.</p>
<p>Identify the models of interest. Fit both. <strong>Check fit of full model.</strong> Find F-statistic, and answer questions of interest.</p>
</div>
<div id="another-way-to-set-up-f-tests-a.k.a-testing-linear-parametric-functions" class="section level2">
<h2>Another way to set up F-tests A.K.A testing linear parametric functions</h2>
<p>Assuming the regression model: <span class="math display">\[ 
Y = X\beta + \epsilon, \quad \epsilon \sim N(0, \sigma^2 I)
\]</span> Consider the hypotheses: <span class="math display">\[
\begin{aligned}
H_0: K^T \beta = m \\
H_1: K^T \beta \ne m
\end{aligned}
\]</span> where <span class="math inline">\(K_{k \times p}\)</span> matrix with rank(K) = k.</p>
<p>Then under the null hypothesis, <span class="math display">\[
F = \frac{\left((K^T\beta - m)^T \left(K^T(X^TX)^{-1}K \right)^{-1} (K^T\beta - m)\right)/k}{\text{RSS}/(n-p)} \sim F_{k, n-p}
\]</span></p>
<p><em>(Don’t memorise for ST552, maybe for comps)</em></p>
</div>
<div id="you-get-the-same-answer" class="section level2">
<h2>You get the same answer</h2>
<p>This alternative is equivalent to the model testing setup we considered. Every null hypothesis of the form <span class="math inline">\(K^T \beta = m\)</span> is comparing a full and reduced model and vice versa.</p>
<p>For example, consider <span class="math display">\[
K = \left(\begin{matrix}
0 \\
\vdots \\
0 \\
1\\
0 \\
\vdots \\
0
\end{matrix}\right), \quad m = 0 \hspace{3cm}
\]</span> where the 1 in <span class="math inline">\(K\)</span> occurs in the <span class="math inline">\(i\)</span>th row.</p>
<p><strong>What is the null hypothesis being tested?</strong></p>
</div>
<div id="your-turn" class="section level2">
<h2>Your turn</h2>
<p>What are <span class="math inline">\(K\)</span> and <span class="math inline">\(m\)</span> for exercises 1 and 5 from the handout from last time? HW#4</p>
</div>
<div id="confidence-intervals-for-individual-beta_j" class="section level2">
<h2>Confidence intervals for individual <span class="math inline">\(\beta_j\)</span></h2>
<p>The t-test for an individual parameter can be flipped around to give <span class="math inline">\(100(1 - \alpha)\%\)</span> confidence intervals of the form</p>
<p><span class="math display">\[
\hat{\beta_j} \pm t^{(\alpha/2)}_{n-p} \SE{\hat{\beta_j}}
\]</span></p>
<p>(Remember <span class="math inline">\(\SE{\hat{\beta_j}}\)</span> is coming from the diagonal entry of the estimated variance-covariance matrix.)</p>
</div>
<div id="coagulation-times" class="section level2">
<h2>Coagulation times</h2>
<blockquote>
<p>Dataset comes from a study of blood coagulation times. 24 animals were randomly assigned to four different diets and the samples were taken in a random order.</p>
</blockquote>
<p>Consider the model: <span class="math display">\[
\begin{aligned}
\text{Coagulation time (s)}_i &amp;= \beta_0 + \beta_1 1\{\text{Diet B}\}_i \\ 
&amp;+ \beta_2 1\{\text{Diet C}\}_i + \beta_3 1\{\text{Diet D}\}_i + \epsilon_i 
\end{aligned}
\]</span></p>
</div>
<div id="coagulation" class="section level2">
<h2>Coagulation</h2>

<pre class="r"><code>data(coagulation, package = &quot;faraway&quot;)
ggplot(coagulation, aes(diet, coag)) +
  geom_dotplot(binaxis = &quot;y&quot;,  binwidth = 1)</code></pre>
<p><img src="/lecture/09-cis_files/figure-html/unnamed-chunk-1-1.png" width="576" height="2in" /></p>
</div>
<div id="your-turn-cont." class="section level2">
<h2>Your turn: cont.</h2>

<pre class="r"><code>fit &lt;- lm(coag ~ diet, data = coagulation)
broom::tidy(fit) %&gt;%  
  knitr::kable(digits = 2)</code></pre>
<table>
<thead>
<tr class="header">
<th align="left">term</th>
<th align="right">estimate</th>
<th align="right">std.error</th>
<th align="right">statistic</th>
<th align="right">p.value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">(Intercept)</td>
<td align="right">61</td>
<td align="right">1.18</td>
<td align="right">51.55</td>
<td align="right">0</td>
</tr>
<tr class="even">
<td align="left">dietB</td>
<td align="right">5</td>
<td align="right">1.53</td>
<td align="right">3.27</td>
<td align="right">0</td>
</tr>
<tr class="odd">
<td align="left">dietC</td>
<td align="right">7</td>
<td align="right">1.53</td>
<td align="right">4.58</td>
<td align="right">0</td>
</tr>
<tr class="even">
<td align="left">dietD</td>
<td align="right">0</td>
<td align="right">1.45</td>
<td align="right">0.00</td>
<td align="right">1</td>
</tr>
</tbody>
</table>

<p><strong>Find a 95% CI for <span class="math inline">\(\beta_0\)</span>?</strong></p>
<p><span class="math inline">\(t_{n-p}^{(0.975)}= t_{20}^{(0.975)} = 2.09\)</span></p>
</div>
<div id="your-turn-cont.-1" class="section level2">
<h2>Your turn: cont.</h2>
<p>In R:</p>
<pre class="r"><code>broom::tidy(fit, conf.int = TRUE)
# OR
(cis &lt;- confint(fit))</code></pre>
</div>
<div id="confidence-intervals-for-linear-combinations-of-parameters-of-beta_j" class="section level2">
<h2>Confidence intervals for linear combinations of parameters of <span class="math inline">\(\beta_j\)</span></h2>
<p>Similarly, confidence intervals for a <strong>linear combination</strong> of the parameters, <span class="math inline">\(c^T\beta\)</span> where <span class="math inline">\(c_{p\times 1}\)</span>, can be formed with <span class="math display">\[
c^T\hat{\beta} \pm t^{(\alpha/2)}_{n-p} \sqrt{\hat{\sigma}^2 c^T(X^TX)^{-1}c}
\]</span></p>
</div>
<div id="your-turn-1" class="section level2">
<h2>Your turn</h2>
<p>With the <code>coagulation</code> example <span class="math display">\[
\begin{aligned}
\text{Coagulation time (s)}_i &amp;= \beta_0 + \beta_1 1\{\text{Diet B}\}_i \\ 
&amp;+ \beta_2 1\{\text{Diet C}\}_i + \beta_3 1\{\text{Diet D}\}_i + \epsilon_i 
\end{aligned}
\]</span></p>
<p><strong>What is <span class="math inline">\(c\)</span> for the linear combination <span class="math inline">\(\beta_0 - \beta_1\)</span>?</strong></p>
<p><strong>Find <span class="math inline">\(c^T(X^TX)^{-1}c\)</span>.</strong></p>

<pre class="r"><code>X &lt;- model.matrix(fit)
round(solve(t(X) %*% X), 2)</code></pre>
<pre><code>##             (Intercept) dietB dietC dietD
## (Intercept)        0.25 -0.25 -0.25 -0.25
## dietB             -0.25  0.42  0.25  0.25
## dietC             -0.25  0.25  0.42  0.25
## dietD             -0.25  0.25  0.25  0.37</code></pre>
</div>
<div id="section" class="section level2">
<h2></h2>
</div>
<div id="joint-confidence-regions" class="section level2">
<h2>Joint confidence regions</h2>
<p>A joint <span class="math inline">\(100(1-\alpha)\%\)</span> confidence for the vector <span class="math inline">\(\beta\)</span> can be formed using, <span class="math display">\[
(\hat{\beta} - \beta)^TX^TX(\hat{\beta} - \beta) \le p \hat{\sigma}^2 F^{(\alpha)}_{p, n-p}
\]</span> and results in <span class="math inline">\(p\)</span>-dimensional ellipsoids (very hard to visualise, but essential for communicating joint uncertainty when the parameters are correlated).</p>
</div>
<div id="d-ellipsoid-example-correlated-estimates" class="section level2">
<h2>2D ellipsoid example: correlated estimates</h2>
<p>For example, <span class="math inline">\((\beta_0, \beta_1)\)</span> in</p>
<p><span class="math display">\[
\begin{aligned}
\text{Coagulation time (s)}_i &amp;= \beta_0 + \beta_1 1\{\text{Diet B}\}_i \\ 
&amp;+ \beta_2 1\{\text{Diet C}\}_i + \beta_3 1\{\text{Diet D}\}_i + \epsilon_i 
\end{aligned}
\]</span></p>
<p><img src="/lecture/09-cis_files/figure-html/unnamed-chunk-5-1.png" width="3in" /></p>
</div>
<div id="d-ellipsoid-example-uncorrelated-estimates" class="section level2">
<h2>2D ellipsoid example: uncorrelated estimates</h2>
<p>Compare to <span class="math inline">\(\gamma_0\)</span> and <span class="math inline">\(\gamma_1\)</span> in this parameterization: <span class="math display">\[
\begin{aligned}
\text{Coagulation time (s)}_i &amp;= \gamma_0 1\{\text{Diet A}\}_i + \gamma_1 1\{\text{Diet B}\}_i \\ 
&amp;+ \gamma_2 1\{\text{Diet C}\}_i + \gamma_3 1\{\text{Diet D}\}_i + \epsilon_i 
\end{aligned}
\]</span> </p>
<pre class="r"><code>fit_nointercept &lt;- lm(coag ~ diet - 1, data = coagulation)</code></pre>
<p><img src="/lecture/09-cis_files/figure-html/unnamed-chunk-7-1.png" width="3in" /></p>
</div>
