---
title: "Prediction in regression"
subtitle: "ST552 Lecture 11"
author: "Charlotte Wickham"
date: "2019-02-01"
weeks: "4"
output: beamer_presentation
links:
  - ["lecture/11-faraway-fat.Rmd", "faraway-fat.Rmd"]
  - ["lecture/11-faraway-fat-solution.Rmd", "My code"]
  - ["lecture/11-annotated.pdf", "Annotated slides"]

---



<div id="next-week" class="section level2">
<h2>Next week</h2>
<p>Midterm in class on Friday. Posted under today’s date:</p>
<ul>
<li>Study guide</li>
<li>Previous year’s midterm (and solution)</li>
</ul>
<p>Homework 4 has a due date two weeks away (you decide if you want to do it now or later)</p>
<p>Next week:</p>
<ul>
<li>Weds lecture: review. Bring your questions.</li>
<li>Weds lab: Trevor will go over a relevant comp exam question (you might like to look it over beforehand)</li>
</ul>
</div>
<div id="prediction" class="section level2">
<h2>Prediction</h2>
<p>We’ve built a model: <span class="math display">\[
y = X\beta + \epsilon
\]</span> Now given a new vector of values of the explanatories <span class="math inline">\(x_0\)</span> we can predict the response <span class="math display">\[
\hat{y_0} = x_0^T\hat{\beta}
\]</span></p>
<p>But what is the uncertainty in this prediction?</p>
<p>Two kinds:</p>
<ul>
<li>prediction of the mean response</li>
<li>prediction of a future observation</li>
</ul>
</div>
<div id="faraway-example" class="section level2">
<h2>Faraway example</h2>
<p>Suppose we have bulit a regression model that predicts the rental price of houses in a given area based on predictors such as the number of bedrooms and closeness to a major highway.</p>
<p>Two kinds of predictions:</p>
<ul>
<li>Prediction of a future value</li>
<li>Prediction of the mean response</li>
</ul>
</div>
<div id="prediction-of-a-future-value" class="section level2">
<h2>Prediction of a future value</h2>
<p>Suppose a specific house comes on the market with characteristics <span class="math inline">\(x_0\)</span>. It’s rental price will be <span class="math inline">\(x_0^T\beta + \epsilon\)</span>.</p>
<p>Since, <span class="math inline">\(\E{\epsilon} = 0\)</span> our predicted price will be <span class="math inline">\(x_0^T\hat{\beta}\)</span>, but in assessing the variance of this prediction, we must include an estimate of <span class="math inline">\(\epsilon\)</span>.</p>
<p><em>Our uncertainty comes from our uncertainty in our estimates, as well as the variability of the response about its mean</em></p>
</div>
<div id="prediction-of-the-mean-repsonse" class="section level2">
<h2>Prediction of the mean repsonse</h2>
<p>Suppose we ask the question – “What would a house with characteristics <span class="math inline">\(x_0\)</span> rent for on average?”</p>
<p>This price is <span class="math inline">\(x_0^T\beta\)</span> and is again predicted by <span class="math inline">\(x_0^T \hat{\beta}\)</span> but now only variance in <span class="math inline">\(\hat{\beta}\)</span> needs to be taken into account.</p>
<p><em>Our uncertianty only comes from our uncertainty in our estimates</em></p>
</div>
<div id="leads-to-two-types-of-interval" class="section level2">
<h2>Leads to two types of interval</h2>
<p><span class="math display">\[
\Var{x_0^T \hat{\beta}} = \sigma^2 x_0^T(X^TX)^{-1}x_0 
\]</span></p>
<p>Assuming future <span class="math inline">\(\epsilon\)</span> is independent of <span class="math inline">\(\hat{\beta}\)</span> a <strong>prediction interval</strong> for a future response is: <span class="math display">\[
\hat{y_0} \pm t_{n-p}^{(\alpha/2)}\hat{\sigma}\sqrt{1 + x_0^T(X^TX)^{-1}x_0}
\]</span></p>
<p>A <strong>confidence interval</strong> for the mean response is: <span class="math display">\[
\hat{y_0} \pm t_{n-p}^{(\alpha/2)}\hat{\sigma}\sqrt{x_0^T(X^TX)^{-1}x_0}
\]</span> which will always be narrower.</p>
</div>
<div id="work-through-faraways-example" class="section level2">
<h2>Work through Faraway’s example</h2>
<blockquote>
<p>Normally, we would start with an exploratory analysis of the data and a detailed consideration of what model to use but let’s be rash and just fit a model and start predicting.</p>
</blockquote>
<p>Find Rmarkdown in rstudio.cloud or get at: <a href="stat552.cwick.co.nz/lecture/11-faraway-fat.Rmd" class="uri">stat552.cwick.co.nz/lecture/11-faraway-fat.Rmd</a></p>
<p>We are interested in predicting body fat (%) as a function of physical measurements (e.g. weight, height, circumference of hip, etc.)</p>
<p>(<em>Different data to lab, remember there we were predicting weight</em>)</p>
</div>
<div id="your-turn-1" class="section level2">
<h2>Your Turn #1</h2>
<pre class="r"><code>?fat</code></pre>
<p>Take a quick read through of the documentation on this dataset.</p>
<p>In context of the data (discuss with your neighbours):</p>
<ul>
<li>What would a confidence interval on the mean response tell us? When might it be useful?</li>
<li>What would a prediction interval on a response tell us? When might it be useful?</li>
</ul>
</div>
<div id="your-turn-2" class="section level2">
<h2>Your Turn #2</h2>
<p>Go through the code. Discuss each step:</p>
<ul>
<li>what is happening conceptually?</li>
<li>what is the code doing?</li>
<li>are their other ways to do it?</li>
</ul>
<p>There are <strong>three questions</strong> for you in the code. Work with your neighbours to answer them.</p>
</div>
<div id="notes" class="section level2">
<h2>Notes</h2>
<ul>
<li><p>Prediction intervals become wider the further we are from observed values of the predictors.</p></li>
<li><p>These intervals depend on the model being correctly specified. In practice, you never know the true model. We do our best to specify a good model but there is always uncertainty in the form of the model.</p>
<p>This <em>model uncertainty</em> is not reflected in these intervals. We take into account <em>parameter uncertainty</em>, but <em>model uncertainty</em> is harder to quantify.</p></li>
</ul>
</div>
<div id="what-can-go-wrong-with-predictions" class="section level2">
<h2>What can go wrong with predictions?</h2>
<ol style="list-style-type: decimal">
<li>Bad model</li>
<li>Quantitative extrapolation (explanatory values beyond those observed)</li>
<li>Qualitative extrapolation (situations beyond those which generated the data, i.e. extrapolation to a different population, e.g. females)</li>
<li>Overconfidence due to overfitting</li>
<li>Black swans (very unusual events that don’t occur in sample, but do occasionally occur)</li>
</ol>
</div>
