---
title: "Explanation in regression"
subtitle: "ST552 Lecture 12"
author: "Charlotte Wickham"
date: "2019-02-04"
weeks: "5"
output: beamer_presentation
---



<div id="hw-3-interpreting-hatsigma" class="section level2">
<h2>HW #3 Interpreting <span class="math inline">\(\hat{\sigma}\)</span></h2>
<!-- ## HW #3 -->
<!-- (1) The interpretations of the $\sigma^2$ estimate were rough. A fair number of students said it was the "...average difference between..." estimated and observed values.  -->
<p><span class="math inline">\(\sigma\)</span> has the same units as the response (<span class="math inline">\(\sigma^2\)</span> does not).</p>
<p>Could rely on Normal approximation:</p>
<blockquote>
<p>We expect roughly 95% of teenagers expenditures on gambling to be within <span class="math inline">\(\pm\)</span> 45 pounds per year of the mean expenditure based on the regression model.</p>
</blockquote>
<p>Or Chebychev:</p>
<blockquote>
<p>We expect at least 75% of teenagers expenditures on gambling to be within <span class="math inline">\(\pm\)</span> 45 pounds per year of the mean expenditure based on the regression model.</p>
</blockquote>
<!-- ## HW #3 -->
<!-- (2) A few students are plugging in an estimate of $\sigma^2$ into the variance of beta hat result. -->
<!-- $$\Var{\hat{\beta}} = \sigma^2 (X^TX)^{-1}$$ -->
<!-- $$\widehat{\Var{\hat{\beta}}} = \hat{\sigma}^2 (X^TX)^{-1}$$ -->
<!-- (3) A few students aren't quite distinguishing between what is random ($\epsilon$, $\hat{\beta}$, $y$) and what isn't ($X$, $\beta$, $Z$ and $\gamma$ (in #3) ) -->
</div>
<div id="explanation" class="section level1">
<h1>Explanation</h1>
<div id="sampling" class="section level2">
<h2>Sampling</h2>
<p>Our model says, we have fixed our <span class="math inline">\(X\)</span> and our responses are generated according to the model <span class="math display">\[
Y = X\beta + \epsilon \quad \epsilon \sim N(0, \sigma^2 I)
\]</span> but how does this relate to real life data?</p>
<p><strong>Designed experiments</strong>: We fix <span class="math inline">\(X\)</span> and let nature generate the responses according to the model. We only observe a finite number of observations and our inference tells us about the <span class="math inline">\(\beta\)</span> underlying the natural generating process.</p>
<p><strong>Observational studies</strong>: A population of responses exists for each unique <span class="math inline">\(X\)</span>. We observe a sample from the populations and use our estimate to make inferences on the population value of <span class="math inline">\(\beta\)</span>. Generally, we like simple random samples and sample much smaller than the population (or use finite population corrections).</p>
</div>
<div id="sampling-cont." class="section level2">
<h2>Sampling cont.</h2>
<p><strong>Complete population</strong>: Permutation tests give some meaning to the p-value for the sample at hand (more later). Or use regression just as a descriptive tool for the sample at hand. Or imagine parallel alternative worlds.</p>
<p><strong>Random <span class="math inline">\(X\)</span></strong>: some set up regression conditional on <span class="math inline">\(X\)</span>. Can show many of the same properties, i.e. <span class="math inline">\(E(\hat{\beta} | X) = \beta)\)</span>, but must add <strong>crucial assumption</strong> that <span class="math inline">\(X\)</span> and <span class="math inline">\(\epsilon\)</span> are independent.</p>
</div>
<div id="section" class="section level2">
<h2></h2>

<pre class="r"><code>library(faraway)
data(gala, package = &quot;faraway&quot;)
lmod &lt;- lm(Species ~ Area + Elevation + Nearest + Scruz + Adjacent, 
  data = gala)
sumary(lmod)</code></pre>
<pre><code>##              Estimate Std. Error t value  Pr(&gt;|t|)
## (Intercept)  7.068221  19.154198  0.3690 0.7153508
## Area        -0.023938   0.022422 -1.0676 0.2963180
## Elevation    0.319465   0.053663  5.9532 3.823e-06
## Nearest      0.009144   1.054136  0.0087 0.9931506
## Scruz       -0.240524   0.215402 -1.1166 0.2752082
## Adjacent    -0.074805   0.017700 -4.2262 0.0002971
## 
## n = 30, p = 6, Residual SE = 60.97519, R-Squared = 0.77</code></pre>
<p>What is the meaning of <span class="math inline">\(\hat{\beta}_\text{Elevation} = 0.32\)</span>?</p>
</div>
<div id="naive-wrong-interpretation" class="section level2">
<h2>Naive (<strong>wrong</strong>) interpretation</h2>
<blockquote>
<p>A unit increase in <span class="math inline">\(x_1\)</span> will produce a change of <span class="math inline">\(\beta_1\)</span> in the response</p>
</blockquote>
<p>Where does this come from? Compare <span class="math inline">\((y_i | X_{i1} = x_1)\)</span> to <span class="math inline">\((y_i | X_{i1} = x_1 + 1)\)</span></p>
<p>Or compare <span class="math inline">\(E(y_i | X_{i1} = x_1)\)</span> to <span class="math inline">\(E(y_i | X_{i1} = x_1 + 1)\)</span></p>
<blockquote>
<p>A unit increase in <span class="math inline">\(x_1\)</span> is associated with a change of <span class="math inline">\(\beta_1\)</span> in the mean response</p>
</blockquote>
<blockquote>
<p>Compare two islands where the elevation of one island is one meter higher than the first. On average the second island has 0.32 species more than the first.</p>
</blockquote>
</div>
<div id="more-accurate-interpretation" class="section level2">
<h2>More accurate interpretation</h2>
<p>You must be specific about what else is in the model, because the meaning of <span class="math inline">\(\beta_1\)</span> is different in the following models <span class="math display">\[
y_i = \beta_0 + \beta_1 \text{Elevation}_i + \epsilon_i
\]</span> <span class="math display">\[
y_i = \beta_0 + \beta_1 \text{Elevation}_i + \beta_2 \text{Area}_i + \beta_3 \text{Nearest}_i + \beta_4 \text{Scruz} + \beta_5 \text{Adjacent} + \epsilon_i
\]</span></p>
</div>
<div id="section-1" class="section level2">
<h2></h2>
<p><img src="/lecture/12-explanation_files/figure-html/unnamed-chunk-3-1.png" width="576" /></p>
</div>
<div id="better" class="section level2">
<h2>Better</h2>
<blockquote>
<p>A unit increase in <span class="math inline">\(x_1\)</span> with the other (named) predictors held constant is associated with a change of <span class="math inline">\(\beta_1\)</span> in the response</p>
</blockquote>
<blockquote>
<p>Compare two islands with the same area, distance to nearest island, distance from Santa Cruz island, and area of the adjacent island, but where the elevation of one island is one meter higher than the first. On average the second island has 0.32 species more than the first.</p>
</blockquote>
<p>But these are purely hypothetical islands. We can’t change any of these properties, let alone one without the others.</p>
</div>
</div>
<div id="causal-inference" class="section level1">
<h1>Causal inference</h1>
<div id="democratic-primaries-in-nh" class="section level2">
<h2>2008 Democratic primaries in NH</h2>
<blockquote>
<p>“On the 8th January 2008, primaries to select US presidential candidates were held in New Hampshire. In the Democratic party primary, Hillary Clinton defeated Barack Obama contrary to the expectations pre-election opinion polls. Essentially two different voting technologies were used in New Hampshire. Some wards used paper ballots, counted by hand while others used optically scanned ballots, counted by machine. Among the paper ballots, Obama had more votes than Clinton while Clinton defeated Obama on just the machine counted ballots. Since the method of voting should make no causal difference to the outcome, suspicions have been raised regarding the integrity of the election.” – <code>?newhamp</code></p>
</blockquote>
</div>
<div id="democratic-primaries-in-nh-1" class="section level2">
<h2>2008 Democratic primaries in NH</h2>

<pre><code>##              Estimate Std. Error t value  Pr(&gt;|t|)
## (Intercept) 0.3525171  0.0051728 68.1480 &lt; 2.2e-16
## handcount   0.0424871  0.0085091  4.9932 1.059e-06
## 
## n = 276, p = 2, Residual SE = 0.06823, R-Squared = 0.08</code></pre>
<p><span class="math display">\[
\text{Proportion for Obama}_i = y_i = \beta_0 + \beta_1 \text{handcount}_i + \epsilon_i
\]</span></p>
<p>What is the meaning of <span class="math inline">\(\hat{\beta}_1 = 0.04\)</span>?</p>
</div>
<div id="your-turn-indicator-variables" class="section level2">
<h2>Your Turn: Indicator Variables</h2>
<p><span class="math display">\[
\text{handcount}_i = \begin{cases}
1, &amp; \text{ward i counted votes by hand} \\
0, &amp; \text{otherwise (ward i counted by machine)}
\end{cases}
\]</span></p>
<p>Find <span class="math inline">\(E(y_i | \text{handcount}_i = 1)\)</span>, and <span class="math inline">\(E(y_i | \text{handcount}_i = 0)\)</span>. </p>
<p>What is <span class="math inline">\(E(y_i | \text{handcount}_i = 1) - E(y_i | \text{handcount}_i = 0)\)</span>?</p>
<p> Explain in words in context of the problem.</p>
</div>
<div id="equivalent-to-an-equal-variance-two-sample-t-test" class="section level2">
<h2>Equivalent to an equal variance two sample t-test</h2>

<pre class="r"><code>t.test(pObama ~ handcount, data = newhamp, var.equal = TRUE)</code></pre>
<pre><code>## 
##  Two Sample t-test
## 
## data:  pObama by handcount
## t = -4.9932, df = 274, p-value = 1.059e-06
## alternative hypothesis: true difference in means is not equal to 0
## 95 percent confidence interval:
##  -0.05923854 -0.02573565
## sample estimates:
## mean in group 0 mean in group 1 
##       0.3525171       0.3950042</code></pre>
</div>
<div id="section-2" class="section level2">
<h2></h2>
<p>A non-causal conclusion:</p>
<blockquote>
<p>The wards with handcounting had on average a proportion of votes for Obama 4 percentage points higher than the wards with digital counts.</p>
</blockquote>
<p>Can me make the causal conclusion?</p>
<blockquote>
<p>Handcounting increased the proportion of votes for Obama by 4 percentage points.</p>
</blockquote>
</div>
<div id="causality" class="section level2">
<h2>Causality</h2>
<p>A causal effect is the difference between outcomes where action was taken or not.</p>
<p>Let <span class="math inline">\(T = 1\)</span> for the treatment and <span class="math inline">\(T = 0\)</span> be the control. Then <span class="math inline">\(y^1_i\)</span> be the observed response for subject <span class="math inline">\(i\)</span> under the control and <span class="math inline">\(y^0_i\)</span> be the observed response for subject <span class="math inline">\(i\)</span> under the treatment.</p>
<p>We want to know: <span class="math display">\[
\delta_ i = y^1_i - y^0_i
\]</span></p>
<p><strong>The fundemental problem:</strong> we can only observe one of <span class="math inline">\((y^1_i, y^0_i)\)</span>.</p>
</div>
<div id="confounders" class="section level2">
<h2>Confounders</h2>
<p>Suppose the correct model was <span class="math display">\[
\text{Proportion for Obama}_i =  \beta^*_0 + \beta^*_1 \text{handcount}_i + \beta^*_2 Z_i + \epsilon_i
\]</span> where <span class="math inline">\(Z\)</span> is some third variable that is related also to our treatment variable: <span class="math display">\[
Z_i = \gamma_0 + \gamma_1\text{handcount}_i + \epsilon&#39;_i 
\]</span></p>
<p>Our conclusions from our original model would only be accurate if <span class="math inline">\(\beta^*_2 = 0\)</span>, or <span class="math inline">\(\gamma_1 = 0\)</span>.</p>
<p><span class="math inline">\(Z\)</span> is known as a confounder.</p>
</div>
<div id="ways-to-proceed" class="section level2">
<h2>Ways to proceed</h2>
<p><strong>Randomized experiment</strong> We control which observation we make. We randomize units to treatments. On average, confounders will be balanced across treatment groups. But, more importantly randomization provides a complete basis for inference about the average treatment effect. Causal inference in justified without further assumptions.</p>
<p><strong>Close substitution</strong> We argue that we can observe things that are very close to <span class="math inline">\(y^1_i\)</span> and <span class="math inline">\(y^0_i\)</span>.</p>
</div>
<div id="ways-to-proceed-1" class="section level2">
<h2>Ways to proceed</h2>
<p><strong>Matching</strong> We match observations based in similar covariates to provide a fair comparison.</p>
<p><strong>Statistical adjustment</strong> We know about confounders and model their effects to remove their contribution.</p>
<p>See Faraway Chapter 5 for covariate adjustment and matching for the voting data.</p>
</div>
<div id="a-real-life-example" class="section level2">
<h2>A real-life example</h2>
<p>Do Nike Vaporfly shoes actually make you run faster?</p>
<p><a href="https://www.nytimes.com/interactive/2018/07/18/upshot/nike-vaporfly-shoe-strava.html" class="uri">https://www.nytimes.com/interactive/2018/07/18/upshot/nike-vaporfly-shoe-strava.html</a></p>
</div>
</div>
