---
title: "Diagnostics: residual plots"
subtitle: "ST552 Lecture 16"
author: "Charlotte Wickham"
date: "2019-02-15"
weeks: "6"
output: beamer_presentation
links:
  - ["worksheet/16-examples.pdf", Worksheet]
  - ["lecture/16-annotated.pdf", "Annotated slides"]
  - ["lecture/16-examples-annotated.pdf", "Annotated Worksheet"]
---



<div id="violations-of-assumptions" class="section level2">
<h2>Violations of assumptions</h2>
<p>In rough order of importance:</p>
<ul>
<li><strong>Systematic form of the model</strong>, <span class="math inline">\(\E{Y} = X\beta\)</span>. If violated, the parameters in the model may be meaningless, estimates may be biased.</li>
<li><strong>Independence of errors</strong>, <span class="math inline">\(\epsilon_i\)</span> independent of <span class="math inline">\(\epsilon_j\)</span> for all <span class="math inline">\(i\)</span> and <span class="math inline">\(j\)</span>. If violated, estimates are still unbiased, but standard errors are generally inappropriate.</li>
<li><strong>Constant variance</strong>, <span class="math inline">\(\Var{\epsilon_i} = \sigma^2\)</span> for all <span class="math inline">\(i\)</span>. If violated, variance in predictions may not be properly quantified.</li>
<li><strong>Normality</strong>, <span class="math inline">\(\epsilon \sim N()\)</span>. Can rely on CLT for large samples. If violated, prediction intervals are probably innappropriate.</li>
</ul>
</div>
<div id="using-the-residuals-to-diagnose-problems" class="section level2">
<h2>Using the residuals to diagnose problems</h2>
<ul>
<li><p>If our model is correct, <span class="math inline">\(\epsilon \sim N(0, \sigma^2 I)\)</span>. But, we don’t observe the errors.</p></li>
<li><p>Usually, we use the residuals as our best guess for the errors, and examine them for problems with the assumptions.</p></li>
<li><p>However, residuals by construction are not equal variance, or uncorrelated (you can try to standardize), but in practice the effects are small and ignored.</p></li>
<li><p>We can’t prove the assumptions are satisfied, but we can look for evidence of gross violations.</p></li>
</ul>
</div>
<div id="graphical-versus-formal-inferential-methods" class="section level2">
<h2>Graphical versus formal inferential methods</h2>
<ul>
<li><p>I am a strong proponent of graphical methods over formal tests for assumption checking.</p></li>
<li><p>Tests can only provide quantification of a deviation you are expecting, graphics reveal the unexpected.</p></li>
<li><p>Tests tend to make you focus on statistical significance not practical significance.</p>
<p>For example, a large sample of data that is just a little non-Normal, will tend to give tiny p-values in a test of Normality, but for our purposes it isn’t really a problem.</p></li>
</ul>
</div>
<div id="residual-plots-to-examine" class="section level2">
<h2>Residual plots to examine</h2>
<ul>
<li><p>Residuals versus fitted values</p></li>
<li><p>Residuals versus explanatories (both those included and those excluded from the model)</p></li>
<li><p>Normal probability plot (Q-Q plot) of the residuals</p></li>
<li><p>Anything else you can think of that might reveal structure in the residuals. For example, if measurements are made over time or space, look for temporal or spatial patterns in the residuals.</p></li>
</ul>
</div>
<div id="what-to-look-for" class="section level2">
<h2>What to look for</h2>
<p></p>
<p>An even width band vertically centered around zero as you move left to right (always put the residuals on the y-axis).</p>
<embed src="/lecture/16-diagnostics_files/figure-html/unnamed-chunk-2-1.pdf" width="576" type="application/pdf" />
</div>
<div id="section" class="section level2">
<h2></h2>
<p></p>
<p>Points falling close to a straight line</p>
<embed src="/lecture/16-diagnostics_files/figure-html/unnamed-chunk-3-1.pdf" width="288" type="application/pdf" />
</div>
<div id="your-turn-part-one" class="section level2">
<h2>Your turn: Part One</h2>
<p>Handout (Charlotte will bring):</p>
<p><strong>Part One</strong> Describe what you see in the residual plots that suggests a violation of assumptions.</p>
</div>
<div id="your-turn-part-two" class="section level2">
<h2>Your turn: Part Two</h2>
<p><strong>Part Two</strong> The same five models are examined but in a random order, with a much smaller sample size. Can you match these diagnostics to those in Part Two??</p>
</div>
<div id="your-turn-part-three" class="section level2">
<h2>Your turn: Part Three</h2>
<p><strong>Part Three</strong> Do you see any violations here?</p>
</div>
<div id="common-problems-and-possible-solutions" class="section level2">
<h2>Common problems and possible solutions</h2>
<ul>
<li><p>Non-constant spread</p>
<ul>
<li>transform response (background knowledge, trial &amp; error, Box-Cox)</li>
<li>use more complicated models (glm, gee)</li>
</ul></li>
<li><p>Non-linearity</p>
<ul>
<li>transform response</li>
<li>transform predictor</li>
<li>allow for curvature (add predictor<span class="math inline">\(^2\)</span>, splines, gam)</li>
<li>use a non-linear model</li>
</ul></li>
<li><p>Non-normality</p>
<ul>
<li>transform response</li>
<li>use more complicated models (glm)</li>
</ul></li>
<li><p>Structure when examined against an excluded variable - include it</p></li>
</ul>
</div>
