---
title: "Diagnostics: unusual observations & partial plots"
subtitle: "ST552 Lecture 17"
author: "Charlotte Wickham"
date: "2019-02-18"
output: beamer_presentation
weeks: "7"
links:
  - ["worksheet/17-examples.pdf", Worksheet]
  - ["lecture/17-annotated.pdf", "Annotated slides"]
---



<div id="case-influence-statistics" class="section level2">
<h2>Case Influence Statistics</h2>
<p>A selection of metrics for observations that help identify <em>unusual observations</em>.</p>
<p>Three kinds of unusual observations:</p>
<ul>
<li><strong>High leverage observations</strong> are unusual in their combination of explanatory values and have the potential to be influential.</li>
<li><strong>Outliers</strong> don’t fit the model well (their combination of response and explanatories is unusual according to the model)</li>
<li><strong>Influential observations</strong> substantially change the model when included/excluded. We don’t want out conclusions to rely heavily on a few influential observations. Generally are also one of high leverage and/or outliers.</li>
</ul>
</div>
<div id="case-influence-statistics-1" class="section level2">
<h2>Case Influence Statistics</h2>
<p>There are many metrics. We’ll cover one for each kind of unusual observation but be aware there are others.</p>
<p>Don’t worry about the formulas, concentrate on the concept. Faraway 6.2</p>
</div>
<div id="leverage" class="section level2">
<h2>Leverage</h2>
<p>The leverage of a observation is <span class="math inline">\(h_i = H_{ii}\)</span> the <span class="math inline">\(i\)</span>th diagonal element of the hat matrix, H.</p>
<p>Remember the hat matrix only depends on <span class="math inline">\(X\)</span>.</p>
<p><span class="math inline">\(h_i\)</span> is a Mahalanobis distance (wikipedia it).</p>
<p>It’s a measure of how far the observations explanatory values are from the mean of the observed explanatory values, but it takes into account the unequal variances of each explanatory variable and their correlations.</p>
<p>The regression line/surface is pulled towards observations with high leverage.</p>
</div>
<div id="section" class="section level2">
<h2></h2>
<p><img src="/lecture/17-unusual_files/figure-html/unnamed-chunk-2-1.png" width="384" /></p>

<p>Blue point is much further from the mean in the Mahalanobis sense than the green point. The blue point would have higher leverage.</p>
</div>
<div id="outliers" class="section level2">
<h2>Outliers</h2>
<p>A observation that doesn’t fit the regression model will have a large error, but this doesn’t necessary translate to a large residual because we fit the model to minimize residuals.</p>
<p>Instead of just looking for large residuals, compare the predicted response from a model without the observation (so it can’t influence the model), to the observed response,
<span class="math display">\[
\hat{y}_{(i)} - y_i
\]</span>
where <span class="math inline">\(\hat{y}_{(i)}\)</span> is the fitted value for the <span class="math inline">\(i\)</span>th observations from a model fitted to the data excluding the <span class="math inline">\(i\)</span>th observation.</p>
<p>This value, appropriately standardized, is called the <strong>Studentized residual</strong>.</p>
</div>
<div id="influence" class="section level2">
<h2>Influence</h2>
<p>How much does the model fit change when the observation is excluded? A substantial change indicates an influential observation. The distance between the vector of fitted values when the ith observation is excluded and fitted values when the ith observation is included is:</p>
<p><span class="math display">\[
(\hat{\mathbf{y}} - \hat{\mathbf{y}}_{(i)})^T (\hat{\mathbf{y}} - \hat{\mathbf{y}}_{(i)})
\]</span></p>
<p>This value, appropriately scaled, is called <strong>Cook’s Distance</strong>.</p>
</div>
<div id="handout" class="section level2">
<h2>Handout</h2>
<p>In each plot:</p>
<ol style="list-style-type: decimal">
<li>Draw in a fitted regression line including the point marked with <span class="math inline">\(+\)</span>, and a fitted regression line excluding the point marked with <span class="math inline">\(+\)</span><br />
</li>
<li>Decide if the point marked with <span class="math inline">\(+\)</span> would be high leverage, an outlier, and/or influential.</li>
</ol>

</div>
<div id="partial-plots" class="section level2">
<h2>Partial plots</h2>
<p><strong>Motivation</strong>: We can examine a plot of the response against each explanatory, but the observed relationship is complicated by the effect of the other variables.</p>
<p>Useful to graphically check relationships between the response and explanatories after “accounting for” the other variables. Examine for evidence of non-linearity and unusual observations.</p>
<p><strong>Partial regression plots</strong>
For explanatory variable, <span class="math inline">\(j\)</span>:<br />
Regress <span class="math inline">\(y\)</span> on all explanatories except the <span class="math inline">\(j\)</span>th and find residuals, <span class="math inline">\(\hat{\delta}\)</span><br />
Regress <span class="math inline">\(x_j\)</span> on all explanatories except itself and find residuals, <span class="math inline">\(\hat{\gamma}\)</span><br />
Plot <span class="math inline">\(\hat{\delta}\)</span> against <span class="math inline">\(\hat{\gamma}\)</span></p>
</div>
<div id="section-1" class="section level2">
<h2></h2>
<p><strong>Partial residual plots</strong><br />
For explanatory variable, <span class="math inline">\(j\)</span>:
Plot
<span class="math display">\[
y_i - \sum_{i\ne j} x_{ij}\hat{\beta}_j
\]</span>
against the <span class="math inline">\(j\)</span>th explanatory variable.</p>
</div>
