---
title: "Problems with predictors"
subtitle: "ST552 Lecture 18"
author: "Charlotte Wickham"
date: "2019-02-20"
output: beamer_presentation
weeks: "7"
links: 
  - ["lecture/18-collinearity.R", "R code"]
  - ["lecture/18-annotated.pdf", "Annotated slides"]
---



<div id="roadmap" class="section level2">
<h2>Roadmap</h2>
<p><strong>Done</strong>:</p>
<ul>
<li>Regression model set up and assumptions</li>
<li>Least squares estimates and properties</li>
<li>Inference</li>
<li>Diagnostics</li>
</ul>
<p><strong>To Do</strong>:</p>
<ul>
<li>Specific problems that arise and some extensions</li>
<li>Model Selection (week 8)</li>
<li>Some case studies (week 9)</li>
<li>Non-linear, binary data (week 10)</li>
</ul>
<p>There will be 8 homeworks total, recall your lowest score is dropped.</p>
</div>
<div id="today" class="section level2">
<h2>Today</h2>
<p>Problems with predictors (Faraway 7)</p>
<ul>
<li>Collinearity</li>
<li>Linear transformations of variables</li>
<li>Errors in predictors</li>
</ul>
</div>
<div id="seat-position-in-cars" class="section level2">
<h2>Seat position in cars</h2>
<pre class="r"><code>data(seatpos, package = &quot;faraway&quot;)
?seatpost</code></pre>
<blockquote>
<p>Car drivers like to adjust the seat position for their own comfort. Car designers would find it helpful to know where different drivers will position the seat depending on their size and age. Researchers at the HuMoSim laboratory at the University of Michigan collected data on 38 drivers.</p>
</blockquote>

The dataset contains the following variables:

</div>
<div id="section" class="section level2">
<h2></h2>

<pre class="r"><code>library(ggplot2)
ggplot(seatpos, aes(Ht, hipcenter)) +
  geom_point()</code></pre>
<p><img src="/lecture/18-preds_files/figure-html/unnamed-chunk-3-1.png" width="576" /></p>
</div>
<div id="section-1" class="section level2">
<h2></h2>

<pre class="r"><code>lmod &lt;- lm(hipcenter ~ ., data = seatpos)
sumary(lmod)</code></pre>
<pre><code>##               Estimate Std. Error t value Pr(&gt;|t|)
## (Intercept) 436.432128 166.571619  2.6201  0.01384
## Age           0.775716   0.570329  1.3601  0.18427
## Weight        0.026313   0.330970  0.0795  0.93718
## HtShoes      -2.692408   9.753035 -0.2761  0.78446
## Ht            0.601345  10.129874  0.0594  0.95307
## Seated        0.533752   3.761894  0.1419  0.88815
## Arm          -1.328069   3.900197 -0.3405  0.73592
## Thigh        -1.143119   2.660024 -0.4297  0.67056
## Leg          -6.439046   4.713860 -1.3660  0.18245
## 
## n = 38, p = 9, Residual SE = 37.72029, R-Squared = 0.69</code></pre>
</div>
<div id="section-2" class="section level2">
<h2></h2>
<ul>
<li><p><strong>Exact collinearity</strong> If <span class="math inline">\(X^TX\)</span> is singular, we say there is exact collinearity. There is at least one column that is a linear combination of the others. In R you will get <code>NA</code> for some estimates. <strong>Solution</strong> drop a column involved, or add constraints on the parameters</p></li>
<li><p><strong>Collinearity</strong> or <strong>multi-collinearity</strong> refers to the case where <span class="math inline">\(X^TX\)</span> is close to singular. There is at least one column that is almost a linear combination of the others. Or in other words one column is highly correlated with a combination of others.</p>
<p>In practice this leads to <strong>imprecise</strong> estimates (i.e. estimates with large standard errors)</p></li>
</ul>
</div>
<div id="variance-inflation-factors" class="section level2">
<h2>Variance inflation factors</h2>
<p>Let <span class="math inline">\(R_i^2\)</span> be the <span class="math inline">\(R^2\)</span> from the regression of the <span class="math inline">\(i\)</span>th explanatory variable on all the other explanatory variables. That is, the proportion of the variation in the <span class="math inline">\(i\)</span>th explanatory variable that is explained by the other explanatory variables.</p>
<p>If the <span class="math inline">\(i\)</span>th variable was orthogonal to the other variables, <span class="math inline">\(R_i^2=0\)</span>.</p>
<p>If the <span class="math inline">\(i\)</span>th variable was a linear combination of the other variables, <span class="math inline">\(R_i^2=1\)</span>.</p>
<p><span class="math display">\[
\Var{\hat{\beta_j}} = \sigma^2 \left(\frac{1}{1-R_j^2}\right) \frac{1}{\sum_i (x_{ij} - \bar{x}_j)^2}
\]</span>
where <span class="math inline">\(\left(\tfrac{1}{1-R_j^2}\right)\)</span> is known as the variance inflation factor.</p>
</div>
<div id="this-is-not-a-violation-of-the-assumptions" class="section level2">
<h2>This is not a violation of the assumptions</h2>
<ul>
<li><p>Multi-collinearity does not violate any regression assumption.</p></li>
<li><p>Our t-tests, F-tests, confidence intervals and prediction intervals all behave as they should.</p></li>
<li><p>The problem is the interpretation of individual parameter estimates. It no longer makes much sense to talk about “… the effect of <span class="math inline">\(X_1\)</span> holding other variables constant” because we have observed a relationship between <span class="math inline">\(X_1\)</span> and the other variables.</p></li>
<li><p>We can’t separate the effects of the variables that are collinear, and our standard errors reflect this accurately by being large.</p></li>
</ul>
</div>
<div id="detecting-multicollinearity" class="section level2">
<h2>Detecting multicollinearity</h2>
<p>In the seat example: large model <span class="math inline">\(R^2\)</span> but nothing is individually significant. Large standard errors on terms that should be highly significant.</p>
<ol style="list-style-type: decimal">
<li>Look at the correlation matrix of the explanatory variables. But, this will only identify pairs of explanatories that are correlated (not complicated relationships)</li>
<li>Regress <span class="math inline">\(X_i\)</span> on other variables and look for high <span class="math inline">\(R^2\)</span>, equivalently directly find variance inflation factors.</li>
<li>Look at the eigenvalues of <span class="math inline">\(X^TX\)</span> and look for condition numbers
<span class="math display">\[
 \kappa = \sqrt{\frac{\lambda_1}{\lambda_p}} &gt; 30
 \]</span></li>
</ol>
</div>
<div id="example" class="section level2">
<h2>Example</h2>
<p>Go through example in R</p>
</div>
<div id="what-to-do-about-multicollinearity" class="section level2">
<h2>What to do about multicollinearity?</h2>
<ul>
<li><p><strong>Most importantly</strong> identify when it occurs, so you don’t make stupid statements about individual parameter estimates.</p></li>
<li><p>For prediction, it isn’t a problem as long as future observations have the same structure in the explanatory variables.</p></li>
<li><p>For explanation, we can’t separate the effect of variables that measure the same thing, do joint tests instead.</p></li>
<li><p>Dropping an offending variable is only necessary if you, for some reason, want a model with as few terms as possible. Do not conclude that a variable dropped due to multicollinearity isn’t related to the response!</p></li>
</ul>
</div>
<div id="errors-in-variables" class="section level2">
<h2>Errors in variables</h2>
<p>We assumed fixed <span class="math inline">\(X\)</span>.</p>
<p>You can also use least squares if <span class="math inline">\(X\)</span> is random before you observe it, and you want to do inference conditional on the observed <span class="math inline">\(X\)</span>.</p>
<p>If, <span class="math inline">\(X\)</span> is measured with error, i.e.
<span class="math display">\[
\begin{aligned}
X = X_a + \delta \\
Y = X_a\beta + \epsilon
\end{aligned}
\]</span>
then the least squares estimates will be biased (usually towards zero if <span class="math inline">\(X_a\)</span> and <span class="math inline">\(\delta\)</span> are unrelated).</p>
<p>There are “errors in variables” estimation techniques.</p>
</div>
<div id="linear-transformations-of-predictors" class="section level2">
<h2>Linear transformations of predictors</h2>
<p>Transformations of the form
<span class="math display">\[
X_j \rightarrow \frac{X_j - a}{b}
\]</span>
do not change the fit of the regression model, only the interpretation of the parameters.</p>
<p>One useful one is to standardise all the explanatory variables
<span class="math display">\[
X_j \rightarrow \frac{X_j - \bar{X_j}}{s_{X_j}}
\]</span>
which puts all the parameters on the same scale: “…a change in <span class="math inline">\(X_j\)</span> of one standard deviation is associated with a change in response of <span class="math inline">\(\beta_j\)</span>…”</p>
<p>Also, can be useful to re-express a predictor in more reasonable units. For example, expressing income in $1000s rather than $1s.</p>
</div>
