---
title: "Model Selection: Criterion Based methods"
subtitle: "ST552 Lecture 22"
author: "Charlotte Wickham"
date: "2019-03-01"
weeks: "8"
output: beamer_presentation
links:
  - ["lecture/22-code.R", "R code"]
  - ["lecture/22-annotated.pdf", "Annotated Slides"]
---



<div id="stepwise-methods" class="section level2">
<h2>Stepwise methods</h2>
<p>Stepwise methods consider a single path through the models (and only ever one model of each size).</p>
<p>An alternative is to consider all possible models (a.k.a Best Subset), but we need a way to compare models (F-tests don’t help for non-nested models).</p>
<p>General strategy of best subsets: calculate metric for all possible models. Choose model with the “best” value of the metric</p>
</div>
<div id="section" class="section level2">
<h2></h2>
<p>Some common metrics, in the regression setting
<span class="math display">\[
\begin{aligned}
\text{Akaike Information Criterion} = \text{AIC} &amp;= n\log{(RSS / n)} + 2p  \\
\text{Bayesian Information Criterion} =  \text{BIC} &amp;= n\log{(RSS / n)} + p\log{n}  \\
\text{Mallow&#39;s Cp} &amp;= \frac{RSS} {\hat{\sigma^2}} + 2p - n \\
&amp; \quad \text{where } \hat{\sigma^2} \text{ is from the full model}\\
\text{Adjusted R}^2 &amp;= 1 - \frac{n-1}{n-p}(1-R^2)  
\end{aligned}
\]</span></p>
<p>Small is good for AIC, BIC and Mallow’s Cp.</p>
<p>Large is good for adjusted <span class="math inline">\(R^2\)</span>.</p>
<p>Which is best? It depends…</p>
</div>
<div id="aic" class="section level2">
<h2>AIC</h2>
<p>Arises from considering how to estimate the distance of a candidate model from the true model.</p>
<p>In particular using the Kullback-Leibler information to measure distance
<span class="math display">\[
I(f, g) = \int f(x) \log{\left( \frac{f(x)}{g(x|\theta)} \right)} dx
\]</span>
In general, can estimate the expected value, at the maximum likelihood estimate of <span class="math inline">\(\theta\)</span> with
<span class="math display">\[
- \log{L(\hat{\theta})} + p + \text{constant}
\]</span></p>
<p>Akaike multiplied this by 2. We can ignore any constants that are the same for a given dataset and assumed error distribution for regression variable selection. Care should be taken in other contexts.</p>
</div>
<div id="section-1" class="section level2">
<h2></h2>
<p><strong>BIC</strong></p>
<p>Arises from trying to find the model with the highest posterior probability.</p>
<p><strong>Mallow’s Cp</strong></p>
<p>Tries to estimate the mean square prediction error.</p>
<p><strong>Adjusted R-squared</strong></p>
<p>Find a model with the highest <span class="math inline">\(R^2\)</span>, but <span class="math inline">\(R^2\)</span> always increases when you add a variable. Adjusted <span class="math inline">\(R^2\)</span> penalises for more variables.</p>
</div>
<div id="return-to-example-in-r" class="section level2">
<h2>Return to example in R</h2>
</div>
<div id="limitations-of-best-subsets-methods-or-criterion-based-methods-as-faraway-calls-them" class="section level2">
<h2>Limitations of best subsets methods (or criterion based methods as Faraway calls them)</h2>
<ol style="list-style-type: decimal">
<li><p>p-values will generally overstate the importance of remaining predictors</p></li>
<li><p>Inclusion in the model doesn’t correspond to important, and exlcusion doesn’t correspond to unimportant.</p></li>
</ol>
</div>
<div id="comments" class="section level2">
<h2>Comments</h2>
<p>These metrics are estimates, and like all estimates are subject to variability.</p>
<p>The ranking of models for one dataset might be different to another generated from the
same data generating process.</p>
<p>There are some assymptotic results. Two common types:</p>
<ul>
<li>consistent for model selection: if you have enough data you will get the right model</li>
<li>optimal for prediction: if you have enough data you will get the best predictions (in the sense of squared error)</li>
</ul>
<p>Alternative estimate of model performance: use external test set, and estimate your desired metric directly. (The idea behind cross validation)</p>
</div>
