---
title: "Predictive performance"
subtitle: "ST552 Lecture 23"
author: "Charlotte Wickham"
date: "2019-03-04"
weeks: "9"
output: beamer_presentation
links:
  - ["lecture/23-annotated.pdf", Annotated Slides]
  - ["lecture/23-code.R", "R code"]
---



<div id="from-last-time-comments-on-criteria-based-methods" class="section level2">
<h2>From last time: comments on criteria-based methods</h2>
<p>These metrics are estimates, and like all estimates are subject to variability.</p>
<p>The ranking of models for one dataset might be different to another generated from the
same data generating process.</p>
<p>There are some asymptotic results. Two common types:</p>
<ul>
<li>consistent for model selection: if you have enough data you will get the right model</li>
<li>optimal for prediction: if you have enough data you will get the best predictions (in the sense of squared error)</li>
</ul>
<p>Alternative estimate of model performance: use external test set, and estimate your desired metric directly. (The idea behind cross validation)</p>
</div>
<div id="predictive-performance-of-models" class="section level2">
<h2>Predictive performance of models</h2>
<blockquote>
<p>A Tecator Infratec Food and Feed Analyzer working in the wavelength range 850 - 1050 nm by the Near Infrared Transmission (NIT) principle was used to collect data on samples of finely chopped pure meat. 215 samples were measured. For each sample, the fat content was measured along with a 100 channel spectrum of absorbances. Since determining the fat content via analytical chemistry is time consuming we would like to build a model to predict the fat content of new samples using the 100 absorbances which can be measured more easily.</p>
</blockquote>
<p>How do we decide what a good model is?</p>
</div>
<div id="how-good-is-our-model-at-prediction" class="section level2">
<h2>How good is our model at prediction?</h2>
<p>We build a model that takes <span class="math inline">\(x_0\)</span> for a new observation as input and predicts <span class="math inline">\(\hat{y}_0\)</span>.</p>
<p>A common (but not the only) metric is the mean squared prediction error:
<span class="math display">\[
\E{\left(y_0 - \hat{y}_0\right)^2}
\]</span>
How far on average are our predictions from the truth? (Expectation is over repeated samples from the data generating mechanism).</p>
<p>This error is for unseen data, so is often called the <strong>extra-sample</strong> or <strong>generalization</strong> error.</p>
<p>We can’t find this expectation because we don’t know the true model. So, we try to estimate it.</p>
</div>
<div id="illustration" class="section level2">
<h2>Illustration</h2>

<p>One way, split the model in two. Build the model with one, the training set. Estimate the prediction error with the other, the test set.</p>
<pre class="r"><code>set.seed(19128)
ind &lt;- sample(nrow(meatspec), size = 172)
trainmeat &lt;- meatspec[ind, ]
testmeat &lt;- meatspec[-ind, ]

# fit model with training set
fit_meat &lt;- lm(fat ~ ., data = trainmeat)

# predict on &quot;unseen&quot; data, the test set
testmeat$pred &lt;- predict(fit_meat, testmeat)

# average squared error
mse &lt;- with(testmeat, mean((fat - pred)^2))
# usually reported on root scale
sqrt(mse)</code></pre>
<pre><code>## [1] 3.339487</code></pre>
</div>
<div id="using-the-dataset-for-both-training-and-evaluation-leads-to-overconfidence" class="section level2">
<h2>Using the dataset for both training and evaluation leads to overconfidence</h2>
<p>We could try to estimate the using the residuals (a.k.a training error)
<span class="math display">\[
1/n \sum_{i=1}^n (\hat{y}_i - y_i)^2
\]</span>
but this tends to underestimate our error because we are using the same data to fit and evaluate the model.</p>
<pre class="r"><code>sqrt(mean(residuals(fit_meat)^2)) # much too small!</code></pre>
<pre><code>## [1] 0.7320721</code></pre>
<p>In general you can replace the mean squared error with any loss function you like, e.g median absolute error. The form will reflect what you are using the predictions for.</p>
</div>
<div id="how-could-we-improve-our-model" class="section level2">
<h2>How could we improve our model?</h2>
<pre class="r"><code># fit model with training set
fit_meat &lt;- lm(fat ~ ., data = trainmeat)</code></pre>
<p><code>23-code.R</code> Use laptops, do model selection. Evaluate on test set.</p>
</div>
<div id="k-fold-cross-validation" class="section level2">
<h2>K-fold cross validation</h2>
<ul>
<li><p>Extends the idea of a test and training set, by splitting the data into K sets.</p></li>
<li><p>K-1 sets are used to fit the model, and the Kth to estimate the prediction error.</p></li>
<li><p>Repeat K times, leaving out a different set each time.</p></li>
</ul>
</div>
<div id="regularized-regression" class="section level2">
<h2>Regularized regression</h2>
<p>Next time…</p>
<p>Lasso and ridge.</p>
</div>
