---
title: "Logistic regression"
subtitle: "ST552 Lecture 25"
author: "Charlotte Wickham"
date: "2019-03-08"
weeks: "9"
output: beamer_presentation
links:
  - ["lecture/25-annotated.pdf", Annotated Slides]
  - ["lecture/25-logistic.R", R code]
---



<div id="logistic-regression" class="section level2">
<h2>Logistic regression</h2>
<p>Reading: 5.1 &amp; 5.2 in Data Analysis Using Regression and Multilevel/Hierarchical Models, Gelman &amp; Hill
(<a href="http://search.library.oregonstate.edu/OSU:everything:CP71242639930001451" class="uri">http://search.library.oregonstate.edu/OSU:everything:CP71242639930001451</a>)</p>

<p>Logistic regression is the standard way to model binary outcomes.</p>
<p>I.e. a response variable that only takes the values 0 or 1.</p>
<p><span class="math display">\[
y_i = \begin{cases}
1, &amp; \text{with probability }p_i \\
0, &amp; \text{with probability } 1 - p_i
\end{cases}
\]</span></p>
</div>
<div id="example-political-preference-from-gelman-hill" class="section level2">
<h2>Example: political preference from Gelman &amp; Hill</h2>
<blockquote>
<p>Conservative parties generally receive more support among voters with higher incomes. We illustrate classical logistic regresssion with a simple analysis of this pattern from the National Election Study in 1992.</p>
</blockquote>
<blockquote>
<p>For each repondent, <span class="math inline">\(i\)</span>, in this poll, we label <span class="math inline">\(y_i=1\)</span> if he or she preferred George Bush (the Republican candiadate for president) or 0 is he or she preferred Bill Clinton (the Democratic candidate), for now excluding repondents who preferred Ross Perot or other candidates.</p>
</blockquote>
<blockquote>
<p>We predict preferences given the respondent’s income level which is characterized on a five-point scale.</p>
</blockquote>
</div>
<div id="section" class="section level2">
<h2></h2>
<p><span class="math display">\[
y_i = \begin{cases}
1, &amp; \text{respondent $i$ preferred George Bush} \\
0,  &amp; \text{respondent $i$ preferred Bill Clinton} 
\end{cases}
\]</span></p>
<p><span class="math display">\[
x_i = \text{Income class of respondent $i$: 0 (poor), 1, 2, 3, 4 or 5 (rich)}
\]</span></p>
<p>Our goal is to relate <span class="math inline">\(y_i\)</span> to <span class="math inline">\(x_i\)</span>.</p>
</div>
<div id="exploratory-analysis-in-r" class="section level2">
<h2>Exploratory analysis in R</h2>
<p>Can we fit a regression model?</p>
<p>Should we fit a regression model?</p>
</div>
<div id="logistic-regression-model" class="section level2">
<h2>Logistic regression model</h2>
<p>In logistic regression, the response is related to the explantories through the probability of the response being 1:</p>
<p><span class="math display">\[
\text{logit}\left(P(y_i = 1)\right) = X_i\beta
\]</span>
or equivalently</p>
<p><span class="math display">\[
P(y_i = 1) = \text{logit}^{-1}\left(X_i\beta\right)
\]</span>
where <span class="math inline">\(\text{logit}(p_i) = \log{\left(\tfrac{p_i}{1-p_i}\right)}\)</span></p>
<p><span class="math inline">\(X_i\beta\)</span> is known as the linear predictor.</p>
<p><span class="math inline">\(y_i\)</span> are assumed to be i.i.d Bernoulli with probability <span class="math inline">\(p_i\)</span> of success.</p>
</div>
<div id="the-inverse-logit-transforms-continuous-values-to-0-1" class="section level2">
<h2>The inverse logit transforms continuous values to (0, 1)</h2>
<embed src="/lecture/25-logistic_files/figure-html/unnamed-chunk-2-1.pdf" width="576" type="application/pdf" />
</div>
<div id="interpreting-the-logistic-regression-coefficients" class="section level2">
<h2>Interpreting the logistic regression coefficients</h2>

<pre class="r"><code>fit_1 &lt;- glm(vote ~ income, family = binomial(link = &quot;logit&quot;),
  data = pres_1992)
summary(fit_1)</code></pre>
<pre><code>## 
## Call:
## glm(formula = vote ~ income, family = binomial(link = &quot;logit&quot;), 
##     data = pres_1992)
## 
## Deviance Residuals: 
##     Min       1Q   Median       3Q      Max  
## -1.2756  -1.0034  -0.8796   1.2194   1.6550  
## 
## Coefficients:
##             Estimate Std. Error z value Pr(&gt;|z|)    
## (Intercept) -1.40213    0.18946  -7.401 1.35e-13 ***
## income       0.32599    0.05688   5.731 9.97e-09 ***
## ---
## Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1
## 
## (Dispersion parameter for binomial family taken to be 1)
## 
##     Null deviance: 1591.2  on 1178  degrees of freedom
## Residual deviance: 1556.9  on 1177  degrees of freedom
## AIC: 1560.9
## 
## Number of Fisher Scoring iterations: 4</code></pre>
</div>
<div id="the-fitted-model" class="section level2">
<h2>The fitted model</h2>
<embed src="/lecture/25-logistic_files/figure-html/unnamed-chunk-4-1.pdf" width="576" type="application/pdf" />
</div>
<div id="interpreting-the-logistic-regression-coefficients-1" class="section level2">
<h2>Interpreting the logistic regression coefficients</h2>
<p>Very generally, a coefficient greater than zero indicates increasing probability with increasing explanatory. A coefficient less than zero indicates decreasing probability with increasing explanatory.</p>
<p>But, the non-linear relationship with <span class="math inline">\(p_i\)</span> makes it hard to interpret that exact value.</p>
<p>Three approaches:</p>
<p><strong>At or near center of data</strong></p>
<p><strong>Divide by 4 rule</strong></p>
<p><strong>Odds ratios</strong></p>
</div>
<div id="at-or-near-center-of-data" class="section level2">
<h2>At or near center of data</h2>
<pre class="r"><code>invlogit &lt;- function(x) 1/(1 + exp(-x))
# = Interpret at some x =
mean_inc &lt;- with(pres_1992, mean(income, na.rm=T))
invlogit(-1.40 + 0.33*mean_inc)</code></pre>
<pre><code>## [1] 0.4049001</code></pre>
<blockquote>
<p>Estimated probability of supporting Bush for a respondent of average income is 0.4</p>
</blockquote>
</div>
<div id="at-or-near-center-of-data-1" class="section level2">
<h2>At or near center of data</h2>
<pre class="r"><code># = Interpret change in P for 1 unit change in x, at some x =
invlogit(-1.40 + 0.33*3) - invlogit(-1.40 + 0.33*2)</code></pre>
<pre><code>## [1] 0.07590798</code></pre>
<blockquote>
<p>An increase in income from category 2 to category 3 is
associated with an increase in the estimated probability
of supporting Bush of 0.08</p>
</blockquote>
</div>
<div id="at-or-near-center-of-data-2" class="section level2">
<h2>At or near center of data</h2>
<pre class="r"><code>logit_p &lt;- (-1.40 + 0.33*3.1)
0.33*exp(logit_p)/(1 + exp(logit_p))^2</code></pre>
<pre><code>## [1] 0.07963666</code></pre>
<blockquote>
<p>Each “small” unit of increase in income, at the average income, is
associated with an increase in the estimated probability
of supporting Bush of 0.08</p>
</blockquote>
</div>
<div id="divide-by-4-rule" class="section level2">
<h2>Divide by 4 rule</h2>
<p>The logistic function reaches its maximum slope at its center, where the derivative is <span class="math inline">\(\beta/4\)</span>.</p>
<pre class="r"><code># = Interpret bound on change in P =
coef(fit_1)[2]/4</code></pre>
<pre><code>##     income 
## 0.08149868</code></pre>
<blockquote>
<p>At most a one unit change in income is associated with
an increase of P(Bush) of 0.08</p>
</blockquote>
</div>
<div id="odds-ratios" class="section level2">
<h2>Odds ratios</h2>
<p><span class="math display">\[
\log \left( \frac{P(y = 1 | x)}{P(y = 0 | x)} \right) = \alpha + \beta x
\]</span></p>
<p>A unit increase in <span class="math inline">\(x\)</span> results in a <span class="math inline">\(\beta\)</span> increase in the log odds ratio of supporting Bush.</p>
<blockquote>
<p>A one unit increase in income is associated with a change in the log odds ratio of 0.33</p>
</blockquote>
</div>
<div id="inference-prediction" class="section level2">
<h2>Inference &amp; prediction</h2>
<p>Coefficients are estimated with maximum likelihood.</p>
<p>Standard errors represent uncertainty in estimates.</p>
<p>Assymptotically, estimates are Normally distributed under repeated sampling.</p>
<p>An approximate 95% confidence interval for estimates is:<br />
estimate <span class="math inline">\(\pm 2 \times\)</span>standard error</p>
<p><strong>Predictions</strong> take the form of a predictive probability
<span class="math display">\[
\hat{p}_0 = \hat{P}(y_0 = 1) = \text{logit}^{-1} (x_0\hat{\beta})
\]</span></p>
<blockquote>
<p>For a voter not in the survey with an income level of 5, the predicted probability of supporting Bush is 0.55</p>
</blockquote>
</div>
<div id="section-1" class="section level2">
<h2></h2>
<p><embed src="25-many-years.pdf" /></p>
</div>
