---
title: "A case study"
subtitle: "ST552 Lecture 27"
author: "Charlotte Wickham"
date: "2019-03-13"
weeks: "x10"
output: beamer_presentation
links:
  - ["https://rstudio.cloud/spaces/7804/project/265479", "RStudio Project"]
  - ["lecture/27-insurance.R", "My code"]
---



<div id="announcements" class="section level2">
<h2>Announcements</h2>
<p>Friday lecture: office hours instead</p>
</div>
<div id="can-you-use-residual-plots-to-look-for-correlated-errors" class="section level2">
<h2>Can you use residual plots to look for correlated errors?</h2>
<p>It might show up in the plots we’ve talked about…</p>
<p>There are some specific purpose plots too.</p>
</div>
<div id="follow-faraway-chapter-12" class="section level2">
<h2>Follow Faraway Chapter 12</h2>
<blockquote>
<p>.. illustrates several of the ambiguities and difficulties encountered in statistical practice. – Faraway</p>
</blockquote>
<blockquote>
<p>Indeed, it has been said democracy is the worst form of Government except all those other forms that have been tried from time to time. – Winston Churchill</p>
</blockquote>
<blockquote>
<p>We might say the same about statistics with respect to how it helps us reason in the face of uncertainty. It is not entirely satisfying but the alternatives are worse. – Faraway</p>
</blockquote>
</div>
<div id="background" class="section level2">
<h2>Background</h2>
<blockquote>
<p>Insurance redlining refers to the practice of refusing to issue insurance to certain types of people or within some geographic area.</p>
</blockquote>
<p>Seems reasonable to refuse someone based on their past behavior (e.g. drunk driving), but it would be wrong to refuse someone based on their race.</p>
<p>It is the 1970s. Chicago neighborhoods are being red-lined. Residents claim racial discrimination. Insurance company claims it’s based on historical losses. (<strong>This is a simplification</strong>)</p>
</div>
<div id="available-data" class="section level2">
<h2>Available data</h2>
<p>We don’t actually have data on insurance refusals for individuals.</p>
<p>We do have the number of applications for FAIR plans (a city plan for people who get refused insurance) at a zip code level.</p>
<pre class="r"><code>data(chredlin, package = &quot;faraway&quot;)
head(chredlin)</code></pre>
<pre><code>##       race fire theft  age involact income side
## 60626 10.0  6.2    29 60.4      0.0 11.744    n
## 60640 22.2  9.5    44 76.5      0.1  9.323    n
## 60613 19.6 10.5    36 73.5      1.2  9.948    n
## 60657 17.3  7.7    37 66.9      0.5 10.656    n
## 60614 24.5  8.6    53 81.4      0.7  9.730    n
## 60610 54.0 34.1    68 52.6      0.3  8.231    n</code></pre>
</div>
<div id="section" class="section level2">
<h2></h2>
<div class="figure">
<embed src="chredlin.pdf" />

</div>
</div>
<div id="getting-started" class="section level2">
<h2>Getting started</h2>
<ul>
<li><p>Do some basic exploration of the data.</p></li>
<li><p>Verify the observation: “Zips with higher proportions of the minority have higher rates of FAIR plan application”</p></li>
<li><p>What would the insurance company argue? How could we address their argument?</p></li>
</ul>
</div>
