---
title: Syllabus
author: Charlotte Wickham
---



<p><strong>Course Name:</strong> Statistical Methods II<br />
<strong>Course Number:</strong> ST 552<br />
<strong>Credits:</strong> This course combines approximately 120 hours of lecture, lab and assignments for <strong>4</strong> credits.<br />
<strong>Term:</strong> Winter 2019<br />
<strong>Prerequisites:</strong> ST 551</p>
<p><strong>Instructor</strong>:<br />
Charlotte Wickham, 255 Weniger <a href="mailto:charlotte.wickham@stat.oregonstate.edu">charlotte.wickham@stat.oregonstate.edu</a><br />
<strong>Instructor Office Hours</strong><br />
Monday &amp; Wednesday 2-2:50pm Weniger 255</p>
<p><strong>TA</strong> <a href="mailto:Trevor.Ruiz@oregonstate.edu">Trevor Ruiz</a></p>
<div id="course-content" class="section level2">
<h2>Course content</h2>
<div id="course-description" class="section level3">
<h3>Course description</h3>
<p>From the catalog:</p>
<blockquote>
<p>Simple and multiple linear regression including polynomial regression, indicator variables, weighted regression, and influence statistics, nonlineral regression and linear models for binary data.</p>
</blockquote>
<p>In a little more detail:</p>
<p>A survey of the basic concepts in regression analysis and its applications. Topics include simple and multiple regression, regression diagnostics, transformation of variables and collinearity problems.</p>
<p>Students will be expected to demonstrate solid understanding of the use of statistical regression and the supporting theory as well as implementation and reporting of regression models in practice.</p>
</div>
<div id="measurable-student-learning-outcomes" class="section level3">
<h3>Measurable Student Learning Outcomes</h3>
<p>By the end of the course, students will be able to:</p>
<ul>
<li>Set up a multiple linear regression model in matrix form</li>
<li>Derive the properties for the least squares estimators for the linear regression model</li>
<li>Fit linear regression models for a data set using R and report in a non-technical manner</li>
<li>Conduct hypothesis tests and construct confidence intervals for the regression coefficients and interpret the ANOVA table</li>
<li>Test a general linear hypothesis and compare full versus reduced models</li>
<li>Detect and discuss the consequences of violations of regression assumptions.</li>
</ul>
</div>
<div id="tentative-schedule" class="section level3">
<h3>Tentative Schedule</h3>
<table>
<thead>
<tr class="header">
<th>Week</th>
<th>Topic</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>Review of simple linear regression</td>
</tr>
<tr class="even">
<td>2</td>
<td>Matrix set up of multiple linear regression</td>
</tr>
<tr class="odd">
<td>3-4</td>
<td>Inference in multiple linear regression</td>
</tr>
<tr class="even">
<td>5</td>
<td>Categorical factors</td>
</tr>
<tr class="odd">
<td>6</td>
<td>Diagnostics</td>
</tr>
<tr class="even">
<td>7</td>
<td>Violations of assumptions</td>
</tr>
<tr class="odd">
<td>8</td>
<td>Model selection</td>
</tr>
<tr class="even">
<td>9</td>
<td>Transformations, nonlinear regression and logistic regression</td>
</tr>
<tr class="odd">
<td>10</td>
<td>Other topics</td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="evaluation-of-student-performance" class="section level2">
<h2>Evaluation of Student Performance</h2>
<p>Your final grade will be a weighted combination of homework (50%), an in class midterm (20%) and the final exam (30%).</p>
<p><strong>Homeworks</strong>: Weekly homeworks may consist of readings, mathematical derivations, simulations and complete data analyses. Homeworks will be made available on canvas and, unless specified otherwise, submitted online through canvas before class on Friday. Late homeworks will not be accepted without prior arrangement with the instructor. Your lowest homework score will be dropped.</p>
<p><strong>Midterm</strong>: In class Friday Feb 8th 2019. Closed book. Calculator allowed. A study guide and a previous year’s midterm will be made available at the end of week 4.</p>
<p><strong>Final Exam</strong>: Tuesday March 19th 2pm, location TBA. Closed book. Calculator allowed.</p>
</div>
<div id="learning-resources" class="section level2">
<h2>Learning Resources</h2>
<p>All lecture notes, labs and additional resources will be posted on the class website: <a href="http://stat552.cwick.co.nz" class="uri">http://stat552.cwick.co.nz</a></p>
<p>I will use <a href="https://oregonstate.instructure.com/courses/1711326">canvas</a> to release homeworks, send announcements and record grades. You will also need to submit electronic copies of homework in canvas. You are also encouraged to use the discussion board on canvas.</p>
<p><strong>Textbook</strong> : <a href="https://search.library.oregonstate.edu/primo-explore/fulldisplay?docid=CP71241609370001451&amp;context=L&amp;vid=OSU&amp;search_scope=everything&amp;tab=default_tab&amp;lang=en_US">Linear Models with R, 2nd Edition (2014) by Julian J. Faraway</a></p>
<p>This book is available online through the OSU library.</p>
<p>Other books you may find useful:</p>
<ul>
<li><p>Applied Regression Analysis: A Research Tool by John O. Rawlings, Sastry G. Pantula and David A. Dickey.</p></li>
<li><p>Introduction to Linear Regression Analysis by Douglas C. Montgomery, Elizabeth A. Peck and G. Geoffrey Vining.</p></li>
<li><p>Statistical Models: Theory and Practice, by David A. Freedman</p></li>
<li><p>Data Analysis Using Regression and Multilevel/Hierarchical Models by Andrew Gelman and Jennifer Hill</p></li>
</ul>
</div>
<div id="university-and-department-policies" class="section level2">
<h2>University and Department policies</h2>
<div id="disability-statement" class="section level3">
<h3>Disability statement</h3>
<p>Accommodations for students with disabilities are determined and approved by Disability Access Services (DAS). If you, as a student, believe you are eligible for accommodations but have not obtained approval please contact DAS immediately at 541-737-4098 or at <a href="http://ds.oregonstate.edu" class="uri">http://ds.oregonstate.edu</a>. DAS notifies students and faculty members of approved academic accommodations and coordinates implementation of those accommodations. While not required, students and faculty members are encouraged to discuss details of the implementation of individual accommodations.</p>
</div>
<div id="academic-integrity" class="section level3">
<h3>Academic integrity</h3>
<p>Academic dishonesty is a serious offense and will be addressed following the guidelines set out in the Academic Regulations of OSU (go to <a href="https://catalog.oregonstate.edu/regulations/" class="uri">https://catalog.oregonstate.edu/regulations/</a>, then read AR 15).</p>
<p>You are expected to do your own work and demonstrate academic integrity in every aspect of this course. Familiarize yourself with the standards set forth in the OSU Code of Student Conduct section 4.2 (available at <a href="http://studentlife.oregonstate.edu/code" class="uri">http://studentlife.oregonstate.edu/code</a>).</p>
<p>The <a href="http://studentlife.oregonstate.edu/code">Student Conduct Code</a> defines Academic dishonesty as</p>
<blockquote>
<p>… an act of deception in which a Student seeks to claim credit for the work or effort of another person, or uses unauthorized materials or fabricated information in any academic work or research, either through the Student’s own efforts or the efforts of another.</p>
</blockquote>
<p>Examples include, but are not limited to, the following:</p>
<ul>
<li>verbatim copying of another student’s homework assignment</li>
<li>copying off another student’s exam</li>
<li>using prohibited materials (e.g., cell phone, cheat sheet) during an exam</li>
<li>communicating with another student during an exam</li>
<li>changing answers on an exam after the exam has been graded</li>
<li>unattributed use of material (including code) copied from an article, textbook, or web site</li>
<li>continuing to write on an exam after the instructor or TA has asked for the exams to be handed in.</li>
</ul>
<p>If you have a question about whether an act constitutes academic misconduct, it is your responsibility to seek clarification and approval from the instructor prior to acting.</p>
<p>Violations of these expectations or the Code of Student Conduct will be reported to the Office of Student Conduct and Community Standards. Plagiarism (the presentation of someone else’s work as your own) will result in a zero for the assessment in which it occurred.</p>
</div>
</div>
