html {
  background: #fffff8; /* cream */
}

body {
  color: #04253A; /* dark blue */
  font-size: 1.2rem;
  line-height: 1.8rem;
  max-width: 640px;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-weight: 200;
  font-style: italic;
  font-size: 1.8 rem;
  line-height: 1;
}

a {
  color: #4C837A; /*green*/
  text-decoration: none;
}

a:hover,
a:focus {
  color: #28655Bc;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

table { 
  margin-top: 2.1rem;
}

.extralinks ul, .extralinks li {
 display: inline;
 padding-right: 10px;
}
 
code {
  color: #EE434D; /*red*/
  background: none;
}

pre {
  background: white;
}

/* overriding theme style.css */

hr {
  border-style: dashed;
  color: #e5e5df;
}

.article-meta, .menu a {
  background: none;
}

blockquote {
    font-style: italic;
    background: none;
    border-left: 5px solid #04253A;
    padding: 3px 1em 3px;
}

thead, tfoot, tr:nth-child(even) { background: #e5e5df; }

pre {
  border: 1px solid  #e5e5df;
  box-shadow: 5px 5px 5px  #e5e5df;
  padding: 1em;
  overflow-x: auto;
}

.menu, .article-meta {
    text-align: left;
}

.article-meta .date {
  font-size: 1.2rem;
  color: #365061;
}

.title {
  font-size: 1.1em;
  line-height: 1.3em;
}