---
title: "Matrix Warmup"
date: "2019-01-14"
output: pdf_document
---



<p>Let <span class="math display">\[
X = \left(\begin{array}{rr}
  1 &amp; 0 \\ 
  2 &amp; 1 \\ 
  1 &amp; 0 \\ 
  \end{array}
\right), \quad
Y = \left(\begin{array}{rr}
  1 &amp; 2 \\ 
  3 &amp; 4 \\ 
  \end{array}
\right), \quad
b = \left(\begin{array}{r}
  1 \\ 
  2 \\ 
  \end{array}
\right), \quad
c = 2, \quad
I_3 = \left(\begin{array}{rrr}
  1 &amp; 0 &amp; 0 \\ 
  0 &amp; 1 &amp; 0 \\ 
  0 &amp; 0 &amp; 1 \\ 
  \end{array}
\right)
\]</span></p>
<p>Find each of the following, or specify why you can’t:</p>
<ol style="list-style-type: lower-alpha">
<li><span class="math inline">\(X + X\)</span> </li>
<li><span class="math inline">\(b + X\)</span> </li>
<li><span class="math inline">\(cX\)</span> </li>
<li><span class="math inline">\(Xb\)</span> </li>
<li><span class="math inline">\(bX\)</span> </li>
<li><span class="math inline">\(I_3X\)</span> </li>
<li><span class="math inline">\(X^T\)</span> </li>
<li><span class="math inline">\(\det(Y)\)</span> </li>
<li><span class="math inline">\(Y^{-1}\)</span> </li>
<li><span class="math inline">\(||b^2|| = b^Tb\)</span></li>
</ol>
<p><em>You are expected to be able to do operations like a), c) d) and g). with matrices up to <span class="math inline">\(4 \times 4\)</span>, and invert <span class="math inline">\(2 \times 2\)</span> matrices, by hand in an exam situation.</em></p>

<div id="want-to-check-your-answers" class="section level2">
<h2>Want to check your answers?</h2>
<p>You could use R:</p>
<pre class="r"><code>X &lt;- matrix(c(
    1, 0,
    2, 1, 
    1, 0
  ), 
  ncol = 2,
  byrow = TRUE)

Y &lt;- matrix(c(
    1, 2,
    3, 4
  ),
  ncol = 2,
  byrow = TRUE)

b &lt;- matrix(c(
    1, 
    2
  ),
  ncol = 1,
  byrow = TRUE)

c &lt;- 2

I_3 &lt;- diag(nrow = 3) </code></pre>
<pre class="r"><code># a
X + X
# b
b + X
# c
c * X
# d
X %*% b
# e
b %*% X
# f
I_3 %*% X
# g
t(X)
# h 
det(Y)
# i
solve(Y)
# j
t(b) %*% b </code></pre>
</div>
