---
title: "Exercises"
author: "ST552 Winter 2019"
date: "2019-01-23"
fontsize: 12pt 
documentclass: exam
params:
  make_solutions: false
---



<blockquote>
<p>In a study of cheddar cheese from the LaTrobe Valley of Victoria, Australia, samples of cheese were analyzed for their chemical composition and were subjected to taste tests. Overall taste scores were obtained by combining the scores from several tasters.</p>
<p><code>cheddar</code> is a data frame with 30 observations on the following 4 variables:</p>
<p>taste, a subjective taste score<br />
Acetic, concentration of acetic acid (log scale)<br />
H2S, concentration of hydrogen sulfice (log scale)<br />
Lactic, concentration of lactic acid</p>
</blockquote>
<p>The following model: <span class="math display">\[
  \textbf{Full Model:} \quad \text{taste}_i = \beta_0 + \beta_1 \text{Acetic}_i + \beta_2 \text{H2S}_i +
  \beta_3 \text{Lactic}_i + \epsilon_i
\]</span></p>
<p>was fit in R and the output is shown below.</p>
<pre class="r"><code>data(cheddar, package = &quot;faraway&quot;)
fit &lt;- lm(taste ~ . , data = cheddar)
summary(fit)</code></pre>
<pre><code>## 
## Call:
## lm(formula = taste ~ ., data = cheddar)
## 
## Residuals:
##     Min      1Q  Median      3Q     Max 
## -17.390  -6.612  -1.009   4.908  25.449 
## 
## Coefficients:
##             Estimate Std. Error t value Pr(&gt;|t|)   
## (Intercept) -28.8768    19.7354  -1.463  0.15540   
## Acetic        0.3277     4.4598   0.073  0.94198   
## H2S           3.9118     1.2484   3.133  0.00425 **
## Lactic       19.6705     8.6291   2.280  0.03108 * 
## ---
## Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1
## 
## Residual standard error: 10.13 on 26 degrees of freedom
## Multiple R-squared:  0.6518, Adjusted R-squared:  0.6116 
## F-statistic: 16.22 on 3 and 26 DF,  p-value: 3.81e-06</code></pre>
<ol style="list-style-type: decimal">
<li>Write down the form of the <span class="math inline">\(\beta\)</span> vector and the <span class="math inline">\(\hat{\beta}\)</span> vector. </li>
<li>What are the values of <span class="math inline">\(n\)</span>, <span class="math inline">\(p\)</span>, <span class="math inline">\(\hat{\sigma}\)</span>, <span class="math inline">\(\hat{\sigma}^2\)</span>, <span class="math inline">\(\sum_{i=1}^n e_i^2\)</span>, <span class="math inline">\(\sigma\)</span>? </li>
</ol>
<span class="math display">\[\begin{equation*}
(X^TX)^{-1} = \begin{pmatrix}
% latex table generated in R 3.5.0 by xtable 1.8-3 package
% Tue Jan 22 16:37:35 2019
 3.80 &amp; -0.76 &amp; 0.09 &amp; -0.07 \\ 
  -0.76 &amp; 0.19 &amp; -0.02 &amp; -0.13 \\ 
  0.09 &amp; -0.02 &amp; 0.02 &amp; -0.05 \\ 
  -0.07 &amp; -0.13 &amp; -0.05 &amp; 0.73 \\ 
  
\end{pmatrix}
\end{equation*}\]</span>
<ol start="3" style="list-style-type: decimal">
<li>Verify the reported value for <span class="math inline">\(SE(\hat{\beta_1})\)</span>.</li>
</ol>

<ol start="4" style="list-style-type: decimal">
<li>What is the value of <span class="math inline">\(\widehat{Cov}(\hat{\beta_1}, \hat{\beta_2})\)</span>?</li>
</ol>
