---
title: "F-test exercises"
author: "ST552 Winter 2019"
date: "2019-01-25"
fontsize: 12pt 
params:
  show_solutions: false
---



<blockquote>
<p>In a study of cheddar cheese from the LaTrobe Valley of Victoria, Australia, samples of cheese were analyzed for their chemical composition and were subjected to taste tests. Overall taste scores were obtained by combining the scores from several tasters.</p>
<p><code>cheddar</code> is a data frame with 30 observations on the following 4 variables:</p>
<p>taste, a subjective taste score<br />
Acetic, concentration of acetic acid (log scale)<br />
H2S, concentration of hydrogen sulfice (log scale)<br />
Lactic, concentration of lactic acid</p>
</blockquote>
<p>The following model: <span class="math display">\[
\textbf{Full Model:} \quad \text{taste}_i = \beta_0 + \beta_1 \text{Acetic}_i + \beta_2 \text{H2S}_i +
 \beta_3 \text{Lactic}_i + \epsilon_i
\]</span> was fit in R and the output is shown below.</p>
<pre class="r"><code>data(cheddar, package = &quot;faraway&quot;)
# full model, aka Model 6
fit &lt;- lm(taste ~ . , data = cheddar)
summary(fit)</code></pre>
<pre><code>## 
## Call:
## lm(formula = taste ~ ., data = cheddar)
## 
## Residuals:
##     Min      1Q  Median      3Q     Max 
## -17.390  -6.612  -1.009   4.908  25.449 
## 
## Coefficients:
##             Estimate Std. Error t value Pr(&gt;|t|)   
## (Intercept) -28.8768    19.7354  -1.463  0.15540   
## Acetic        0.3277     4.4598   0.073  0.94198   
## H2S           3.9118     1.2484   3.133  0.00425 **
## Lactic       19.6705     8.6291   2.280  0.03108 * 
## ---
## Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1
## 
## Residual standard error: 10.13 on 26 degrees of freedom
## Multiple R-squared:  0.6518, Adjusted R-squared:  0.6116 
## F-statistic: 16.22 on 3 and 26 DF,  p-value: 3.81e-06</code></pre>
<p>These alternative models were also fit: <span class="math display">\[
\begin{aligned}
\textbf{Model 1:} \quad \text{taste}_i &amp;= \beta_0 \quad &amp;\text{RSS } = 7662.9\\
\textbf{Model 2:} \quad \text{taste}_i &amp;= \beta_0 + \beta_1 \text{Acetic}_i + \epsilon_i \quad &amp;\text{RSS } = 5348.7\\
\textbf{Model 3:} \quad \text{taste}_i &amp;= \beta_1 \text{H2S}_i + \beta_2 \text{Lactic}_i +
 \epsilon_i \quad &amp;\text{RSS } = 3601.8\\
\textbf{Model 4:} \quad \text{taste}_i &amp;= \beta_0  + \beta_1 \text{H2S}_i 
 + \beta_2 \text{Lactic}_i + \epsilon_i \quad &amp;\text{RSS } = 2669\\
\textbf{Model 5:} \quad \text{taste}_i &amp;= \beta_0 + \beta_1 (\text{Acetic}_i + \text{H2S}_i) +
 \beta_2 \text{Lactic}_i + \epsilon_i \quad &amp;\text{RSS } = 2719.9\\
\textbf{Model 6:} \quad \text{taste}_i &amp;= \beta_0 + \beta_1 \text{Acetic}_i + 
  \beta_2 \text{H2S}_i + \beta_3 \text{Lactic}_i + \epsilon_i \quad &amp;\text{RSS } = 2668.4
\end{aligned}
\]</span></p>
<ol style="list-style-type: decimal">
<li><p>Find the overall regression F-statistic. Where is this reported in the R output?</p></li>
<li><p>Find the F-statistic for testing the null hypothesis that <span class="math inline">\(\beta_1\)</span> = 0 in the full model. What distribution should this statistic be compared to? Identify the equivalent t-test statistic and p-value in the  output.</p></li>
<li><p>Find the F-statistic for testing the null hypothesis that <span class="math inline">\(\beta_1\)</span> = 0 in . The p-value for this test is <span class="math inline">\(0.0017\)</span>, why is this conclusion different to the one above?</p></li>
<li><p>Find the F-statistic for testing the null hypothesis that <span class="math inline">\(\beta_0 = \beta_1 = 0\)</span> in the full model. Can you predict the conclusion from the R output?</p></li>
<li><p>Find the F-statistic for testing the null hypothesis that <span class="math inline">\(\beta_1 = \beta_2\)</span> in the full model. What distribution should this F-statistic be compared to?</p></li>
</ol>
