---
title: "Residual plots: examples"
date: "2019-02-15"
output: pdf_document
fontsize: 12pt 
params:
  show_solutions: false
---





<div id="part-one-identifying-violations-large-sample-size" class="section level1">
<h1>Part One: Identifying violations (large sample size)</h1>
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-6-1.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-6-2.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-6-3.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-6-4.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-6-5.pdf" width="768" type="application/pdf" />

</div>
<div id="part-two-identifying-violations-small-sample-size" class="section level1">
<h1>Part Two: Identifying Violations (small sample size)</h1>
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-7-1.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-7-2.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-7-3.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-7-4.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-7-5.pdf" width="768" type="application/pdf" />

</div>
<div id="part-three-identifying-violations-small-sample-size" class="section level1">
<h1>Part Three: Identifying Violations (small sample size)</h1>
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-9-1.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-9-2.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-9-3.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-9-4.pdf" width="768" type="application/pdf" />
<embed src="/worksheet/16-examples_files/figure-html/unnamed-chunk-9-5.pdf" width="768" type="application/pdf" />
</div>
