---
title: "Case influence: examples"
date: "2019-02-15"
output: pdf_document
params:
  show_solutions: false
---



<embed src="/worksheet/17-examples_files/figure-html/unnamed-chunk-3-1.pdf" width="336" type="application/pdf" />
<embed src="/worksheet/17-examples_files/figure-html/unnamed-chunk-3-2.pdf" width="336" type="application/pdf" />
<embed src="/worksheet/17-examples_files/figure-html/unnamed-chunk-4-1.pdf" width="336" type="application/pdf" />
<embed src="/worksheet/17-examples_files/figure-html/unnamed-chunk-4-2.pdf" width="336" type="application/pdf" />
<embed src="/worksheet/17-examples_files/figure-html/unnamed-chunk-5-1.pdf" width="336" type="application/pdf" />
<embed src="/worksheet/17-examples_files/figure-html/unnamed-chunk-5-2.pdf" width="336" type="application/pdf" />
