---
title: Week 2  
draft: true
---



<div id="mon" class="section level2">
<h2>Mon</h2>
<div id="learning-objectives" class="section level3">
<h3>Learning Objectives</h3>
<p>By the end of class a student should be able to:</p>
<ul>
<li><p>State the multiple regression model in matrix form along with the assumptions on the errors and design matrix.</p></li>
<li><p>Describe the entries in the design matrix given a model and study description.</p></li>
</ul>
</div>
<div id="outline" class="section level3">
<h3>Outline</h3>
<ol style="list-style-type: decimal">
<li><p><strong>Matrix warmup</strong> Have the warmup worksheet on projector as students arrive. At 3:00pm, introduce yourself, then give another 5mins for warmup and students to compare answers.</p>
You don’t need to go over all the answers but remind students:
<ul>
<li>Dimensions must be the same for addition.</li>
<li>Dimension must conform for multiplication (i.e. inner dimensions are the same)</li>
<li>Order matters with matrix multiplication: <span class="math inline">\(bX \ne Xb\)</span> in general.</li>
<li><span class="math inline">\(IX = X\)</span> for any <span class="math inline">\(X\)</span> as long as dimensions work</li>
<li><span class="math inline">\(Y_{n \times n}^{-1}\)</span> doesn’t always exist! Exists if <span class="math inline">\(\det(Y) \ne 0 \iff Y\)</span> is full rank.</li>
</ul></li>
<li><p><strong>Multiple linear regression</strong> Write simple linear regression model on board: <span class="math display">\[
y_i = \beta_0 + \beta_1 x_i + \epsilon_i \quad i = 1, \ldots, n
\]</span> Now we want to add more than one explanatory, relabel <span class="math inline">\(x_i\)</span> as <span class="math inline">\(x_{i1}\)</span>, erase <span class="math inline">\(\epsilon_i\)</span>, add <span class="math inline">\(\beta_2x_{i2}\)</span>, add more (dot dot dot) up to <span class="math inline">\(\beta_{p-1}x_{i(p-1)}\)</span>, add back on <span class="math inline">\(\epsilon_i\)</span>.</p>
<p>Also explain:</p>
<ul>
<li>We have <span class="math inline">\(p-1\)</span> explanatories, so with intercept, we have <span class="math inline">\(p\)</span> regression coefficients.</li>
<li>Same assumptions on <span class="math inline">\(\epsilon_i\)</span> as simple linear regression - i.i.d expected value 0, variance <span class="math inline">\(\sigma^2\)</span>.</li>
</ul></li>
<li><p><strong>Concrete example</strong> Go over Galapogos example in slides. Emphasize keeping track of which index corresponds to which explanatory is hard, so often just use variable name.</p>
<p>Give 2mins for students to answer “Your turn” questions with neighbour. Go over answers together:</p>
<ul>
<li>What does <span class="math inline">\(i\)</span> index? Islands.</li>
<li>What is the value of <span class="math inline">\(n\)</span>? 30, since there are 30 islands.</li>
<li>What is the value of <span class="math inline">\(p\)</span>? <span class="math inline">\(p = 6\)</span>, six parameters, five explanatory variables plus an intercept.</li>
</ul></li>
<li><p><strong>Matrix form</strong> Either on board, or using slide on doc cam, put up multiple linear regression model in full matrix form (i.e. with all rows and columns).</p>
<p>Work through first row, show that it is the same as previous model for <span class="math inline">\(i = 1\)</span>. Give abbreviated form <span class="math inline">\(y = X\beta + \epsilon\)</span>, go through matrix dimensions, and names (repsone, random errors, paramter vector, design matrix).</p></li>
<li><p><strong>Galapogos Matrix form</strong> Go through concrete example of matrix form for this example. Label columns with variable names.</p></li>
<li><p><strong>Other models</strong> Give students 5-6 minutes to work on your turn. Go over answers together:</p>
<p><span class="math display">\[
X_{30\times 3} = \left(
\begin{array}{rrr}
  1 &amp; 25.09 &amp; 0.6\\ 
 1 &amp; 1.24 &amp; 0.6\\ 
 1 &amp; 0.21 &amp; 2.8\\ 
 1 &amp; 0.1 &amp; 1.9\\ 
 1 &amp; 0.05 &amp; 1.9 \\
  \vdots &amp; \vdots &amp;  \vdots  \\
\end{array}
\right)
\]</span> Easy, just a subset of the columns in the previous example.</p>
<p><span class="math display">\[
X_{30\times 2} = \left(
\begin{array}{rrr}
  25.09 &amp; 629.5081\\ 
 1.24 &amp; 1.5376\\ 
 0.21 &amp; 0.0441\\ 
 0.1 &amp; 0.01\\ 
 0.05 &amp; 0.0025 \\
  \vdots &amp; \vdots \\
\end{array}
\right)
\]</span> We don’t have to have an intercept, but be careful if you don’t, <span class="math inline">\(p\)</span> is the same as the number of explanatory variables, <span class="math inline">\(\beta\)</span> starts indexing at 1.</p>
<p>We are also allowed to transform variables to make new ones. In this case allowing a quadratic relationship to area.</p>
<p><span class="math display">\[
X_{30\times 2} = \left(
\begin{array}{rrr}
  1 &amp; 1\\ 
 1 &amp; 1\\ 
 1 &amp; 0\\ 
 1 &amp; 0\\ 
 1 &amp; 0 \\
  \vdots &amp; \vdots \\
\end{array}
\right)
\]</span> Indicators are OK too, and is how we’ll handle categorical variables later. In this example, we’ve allowed in a different mean number of species for islands with area greater than 1.</p></li>
<li><p><strong>Fitted values and residuals</strong> If we had estimate for <span class="math inline">\(\beta\)</span>, define fitted value and residual vectors. Get students to workout dimensions if you have time.</p></li>
<li><p><strong>Wrap up</strong> Motivate the rest of week:</p>
<ul>
<li>How will we estimate <span class="math inline">\(\beta\)</span>?</li>
<li>What properties will the estimates have.</li>
</ul></li>
</ol>

</div>
</div>
<div id="wed" class="section level2">
<h2>Wed</h2>
<div id="learning-objectives-1" class="section level3">
<h3>Learning Objectives</h3>
<p>By the end of class a student should be able to:</p>
<ul>
<li><p>Derive the least squares estimates.</p></li>
<li><p>Define fitted values and residuals.</p></li>
<li><p>Describe the difference between random errors and residuals.</p></li>
</ul>
</div>
<div id="outline-1" class="section level3">
<h3>Outline</h3>
<p>The handout provided to students has a mixture of short notes and exercises. I suggest getting the student’s into small groups. Then alternate between you setting up the next exercise with the whole class (i.e. go over the note part), and the student’s spending some time working on the exercise (filling in the boxes).</p>
<p>Alternatively, you might just unleash them on the handout, and gradually fill in the blanks as they progress (without stopping the class, but where they can see it), and if they have questions either help groups indivdually or go over a step with the class.</p>
<p>There is a lot on the handout! I expect you’ll definitely get up to “The Hat Matrix”. If you don’t get through the whole thing, just finish it up on Friday.</p>
<p>I’ll post a version with all the solutions after class.</p>
<p><strong>Before class ends</strong> Emphasize:</p>
<ul>
<li><p>Finding the least squares estimates is just algebra and calculus (albeit slightly out of the normal algebra and calculus). We didn’t make any statistical assumptions to get them.</p></li>
<li><p>The estimates have a closed form <span class="math inline">\(\hat{\beta} = \left(X^TX \right)^{-1}X^Ty\)</span> and they should memorize it.</p></li>
<li><p>Because <span class="math inline">\(\epsilon\)</span> is a random vector, <span class="math inline">\(y\)</span> is a random vector, and hence our estimates are random vectors and we can talk about their statistical properties.</p></li>
</ul>

</div>
</div>
<div id="fri" class="section level2">
<h2>Fri</h2>
<div id="learning-objectives-2" class="section level3">
<h3>Learning Objectives</h3>
<p>By the end of class a student should be able to:</p>
<ul>
<li><p>Derive the mean and variance-covariance matrix of the least squares estimates in multiple linear regression.</p></li>
<li><p>State the Gauss-Markov theorem and discuss it’s consequences in practice.</p></li>
<li><p>State the form and properties of the estimate for the variance of the errors.</p></li>
</ul>
</div>
<div id="outline-2" class="section level3">
<h3>Outline</h3>
<p>Run Friday just like Wednesday.</p>
<p>Depending on how time goes you might fill the in blanks for them when deriving the variance-covariance matrix of the estimates.</p>
<p><strong>Before class ends</strong> Emphasize the properties we derived: least squares estimates are <strong>unbiased</strong> and we have a form for their variance-covariance matrix.</p>
</div>
</div>
