{{ partial "header.html" . }}

{{ .Content }}

<h2>Learning Materials</h2>
{{ range $key, $taxonomy := .Site.Taxonomies.weeks }}
  <h3>Week {{ $key }}</h3>
  <ul>
    {{ range $taxonomy.Pages.ByDate }}
      {{ $url := .RelPermalink }}
      <li hugo-nav="{{ $url }}">
        <span class="date">{{ .Date.Format "Jan 2" }}</span>
        {{ if isset .Params "no_link" }}
        <strong>{{ .LinkTitle }}</strong>
        {{ else }} 
        <a href="{{ $url }}">{{ .LinkTitle }}</a>
        {{ end }}
        {{ if isset .Params "output" }}
          {{ if isset .Params "no_pdf" }}
          {{ else }} 
          <a href="{{ replaceRE "/$" ".pdf" $url }}">[PDF]</a>
          {{ end }}
        {{ end }}
        {{ if isset .Params "links" }}
        <ul class = "extralinks">
        {{ range .Params.links }}
        <li><a href = "{{ replaceRE "/$" $url (index . 0) }}">{{ index . 1 }}</a></li>
        {{ end }}
        </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}


{{ partial "footer.html" . }}
