{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span>
{{ if (gt .Params.date 0) }}
 <span class="date">{{ .Date.Format "Jan 02 2006" }}</span>{{ end }}
</h1>
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
