<script src="//yihui.name/js/math-code.js"></script>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: {
    Macros: {
      E: ["{\\text{E}\\left( #1 \\right)}", 1],
      Var: ["{\\text{Var}\\left( #1 \\right)}", 1],
      Cov: ["{\\text{Cov}\\left( #1 \\right)}", 1],
      VarH: ["{\\widehat{\\text{Var}}\\left( #1 \\right)}", 1],
      SE: ["{\\text{SE}\\left( #1 \\right)}", 1],
      RSS: ["{\\text{RSS}_#1", 1],
      df: ["{\\text{d.f.}_#1", 1]
    }
  }
});
</script>

<script async src="//yihui.name/js/center-img.js"></script>

<script src="/highlight/highlight.pack.js"></script>
<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>