---
title: "Final Study Guide"
output: pdf_document
author: "Final - Tuesday March 19th 2pm - 3:30pm Weniger 287"
date: "2019-03-06"
weeks: '9'
links:
  - ["final/final16.pdf", "Practice Final"]
  - ["final/final16-solution.pdf", "Practice Final Solutions"]
  - ["final/StatisticalTables.pdf", "Statistical Tables"]
---



<p><strong>Tuesday March 19th 2pm - 3:30pm Weniger 287</strong></p>
<p><strong>The final is closed book.</strong><br />
I will provide statistical tables if you need them (so you should know how to use them).</p>
<p>You should bring a calculator (although arithmetic errors are generally forgiven).</p>
<p><strong>All material on the <a href="/midterm/midterm-study-guide">midterm study guide</a></strong> is also examinable.</p>
<p><strong>You should be able to:</strong></p>
<ul>
<li><p>State the assumptions required for making inferences in regression.</p></li>
<li><p>Rank the assumptions in rough order of importance.</p></li>
<li><p>Describe the consequences of violating a particular assumption.</p></li>
<li><p>Describe/sketch residual plots that should be examined to diagnose problems with the regression assumptions.</p></li>
<li><p>Sketch a residual plot that illustrates a violation of a particular assumption (non-linearity, non-constant variance or non-normality).</p></li>
<li><p>Given a residual plot, describe evidence you see for violations of the regression assumptions.</p></li>
<li><p>Suggest a remedy for a particular violation.</p></li>
<li><p>Describe three ways a point may be considered “unusual”.</p></li>
<li><p>Name three case influence statistics and describe conceptually how they measure “unusualness”.</p></li>
<li><p>Identify from a scatterplot (in the simple linear regression case) if a point is likely to be high leverage, influential and/or an outlier.</p></li>
<li><p>Describe a limitation of case influence statistics.</p></li>
<li><p>Describe what is meant by multicollinearity.</p></li>
<li><p>Describe how multicollinearity might be detected.</p></li>
<li><p>Discuss the consequences of multicollinearity.</p></li>
<li><p>Describe the assumption that generalized least squares is designed to relax.</p></li>
<li><p>Derive the generalized least squares estimates (for known <span class="math inline">\(\Sigma\)</span>).</p></li>
<li><p>Give an example of data where using weighted least squares is desirable.</p></li>
<li><p>Conduct a lack-of-fit test.</p></li>
<li><p>Interpret the result of a lack-of-fit test.</p></li>
<li><p>Describe the goal of robust regression techniques.</p></li>
<li><p>Describe why we might transform the response and/or the explanatory variables.</p></li>
<li><p>Choose a transform of the response based on a Box-Cox plot.</p></li>
<li><p>Interpret a parameter estimate based on a regression with a log transformed response.</p></li>
<li><p>State the additional assumption required to make inferences about medians in a regression using a log transformed response.</p></li>
<li><p>Give a reason why variable selection might be recommended.</p></li>
<li><p>Give a reason why variable selection might be avoided.</p></li>
<li><p>Describe the process of model selection by forward selection/backward elimination.</p></li>
<li><p>Give an advantage and a disadvantage of stepwise methods.</p></li>
<li><p>Perform one step of forward selection/backward elimination.</p></li>
<li><p>Name and describe four model selection criteria.</p></li>
<li><p>Discuss the similarities and differences between model selection criteria.</p></li>
<li><p>Discuss why it is dangerous to use the same data to fit a predictive model and to evaluate the model’s predictive ability.</p></li>
<li><p>Describe two regularized regression methods.</p></li>
<li><p>Describe why might we prefer biased estimates (or predictions).</p></li>
<li><p>Describe/sketch an example of a predictive model that would have low/high variance and low/high bias.</p></li>
<li><p>Discuss the difference in goals between explanation and prediction.</p></li>
<li><p>Describe the difference between linear and logistic regression models.</p></li>
<li><p>Describe the difference between linear and non-linear regression models.</p></li>
</ul>
