---
title: Lab 7 - Your Turn Solutions
author: "Matt Higham"
date: "February 12, 2016"
output: pdf_document
---



<p><em>Some edits from Charlotte 2019-02-21</em></p>
<div id="cheddar-data-set" class="section level2">
<h2>Cheddar Data Set</h2>
<pre class="r"><code>library(tidyverse)
library(broom)

data(cheddar, package = &quot;faraway&quot;)
fit_cheddar &lt;- lm(taste ~ Acetic + H2S + Lactic, data = cheddar)
fit_cheddar_df &lt;- augment(fit_cheddar, data = cheddar)
ggplot(fit_cheddar_df, aes(.fitted, .resid)) +
  geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
  geom_point() </code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-2-1.png" width="576" /></p>
<pre class="r"><code>ggplot(fit_cheddar_df, aes(sample = .resid)) +
  stat_qq() +
  stat_qq_line()</code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-2-2.png" width="576" /></p>
<p>I do not see any strong violations of assumptions in any of these residual plots. There is perhaps a slight violation in the constant variance assumption. Taking a square root transformation may help the non-constant variance, but I do not think the violation is strong enough to warrant a transformation.</p>
</div>
<div id="gambling-data-set" class="section level2">
<h2>Gambling Data Set</h2>
<pre class="r"><code>data(teengamb, package = &quot;faraway&quot;)
fit_teen &lt;- lm(gamble ~ income + status + verbal, data = teengamb)
fit_teen_df &lt;- augment(fit_teen, data = teengamb)

ggplot(fit_teen_df, aes(sex, .resid)) +
  geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
  geom_boxplot(aes(group = sex)) </code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-3-1.png" width="576" /></p>
<p>From the above graph of residuals versus sex, which was not included in the original model, we see that sex might be an important predictor of gambling since the residuals around the sex = 0 (the male sex) are generally greater than 0 and the residuals around the female sex are generally less than 0. Therefore, there is evidence that we should add sex back to the model.</p>
<pre class="r"><code>fit_teen2 &lt;- lm(gamble ~ income + status + verbal + sex, data = teengamb)
fit_teen_df2 &lt;- augment(fit_teen2, data = teengamb)

ggplot(fit_teen_df2, aes(.fitted, .resid)) +
  geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
  geom_point() </code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-4-1.png" width="576" /></p>
<pre class="r"><code>ggplot(fit_teen_df2, aes(sample = .resid)) +
  stat_qq() +
  stat_qq_line()</code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-4-2.png" width="576" /></p>
<p>Even with sex in the model, we see evidence of non-constant variance. We can transform the response to fix some of these violations of the assumptions of our regression model.</p>
<pre class="r"><code>fit_teen3 &lt;- lm(log(gamble + 1) ~ income + status + verbal + sex, data = teengamb)
fit_teen_df3 &lt;- augment(fit_teen3, data = teengamb)

ggplot(fit_teen_df3, aes(.fitted, .resid)) +
  geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
  geom_point() </code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-5-1.png" width="576" /></p>
<pre class="r"><code>ggplot(fit_teen_df3, aes(sample = .resid)) +
  stat_qq() +
  stat_qq_line()</code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-5-2.png" width="576" /></p>
<pre class="r"><code># ggplot(fit_teen_df3, aes(status, .resid)) +
#   geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
#   geom_point() 
# 
# ggplot(fit_teen_df3, aes(income, .resid)) +
#   geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
#   geom_point() 
# 
# ggplot(fit_teen_df3, aes(verbal, .resid)) +
#   geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
#   geom_point() </code></pre>
<p>Wowsers! These diagnostics look a lot better!</p>
</div>
<div id="corn-data-set" class="section level2">
<h2>Corn Data Set</h2>
<pre class="r"><code>data(cornnit, package = &quot;faraway&quot;)
fit_corn &lt;- lm(yield ~ nitrogen, data = cornnit)
fit_corn_df &lt;- augment(fit_corn, cornnit)

ggplot(fit_corn_df, aes(.fitted, .resid)) +
  geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
  geom_point() </code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-6-1.png" width="576" /></p>
<p>There is evidence of non-linearity in this residuals versus fitted plot! We can try many different types of transformations to fix this problem, or we can add a quadratic term to the model. Below is the residual versus fitted plot after log transforming the predictor, nitrogen.</p>
<pre class="r"><code>fit_corn2 &lt;- lm(yield ~ log(nitrogen + 1), data = cornnit)
fit_corn_df2 &lt;- augment(fit_corn2, cornnit)

ggplot(fit_corn_df2, aes(.fitted, .resid)) +
  geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
  geom_point() </code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-7-1.png" width="576" /></p>
<pre class="r"><code>ggplot(fit_corn_df2, aes(sample = .resid)) +
  stat_qq() +
  stat_qq_line()</code></pre>
<p><img src="/lab/lab-7-solutions_files/figure-html/unnamed-chunk-7-2.png" width="576" /></p>
<p>That seems to fix the linearity problem. Also, there is now little evidence of non-normality or non-constant variance.</p>
</div>
