---
title: Lab 6 - Bootstrap and Permutation
date: "2019-02-13"
weeks: "6"
weeks_weight: 2
types: "lab"
---



<pre class="r"><code>library(faraway)
library(tidyverse)</code></pre>
<p>The code in today’s lab comes straight from Chapter 3 in Linear Models with R with only minor edits that I think improve clarity.</p>
<div id="preliminaries" class="section level1">
<h1>Preliminaries</h1>
<div id="brief-review-of-for-loops" class="section level2">
<h2>Brief review of <code>for</code> loops</h2>
<p>An example of a <code>for</code> loop in R:</p>
<pre class="r"><code>n_sims &lt;- 10
output &lt;- numeric(n_sims)
for (i in 1:n_sims){
  output[i] &lt;- mean(rnorm(20))
}
output</code></pre>
<pre><code>##  [1] -0.21798434 -0.16131401  0.50563841 -0.25441329  0.14596754
##  [6]  0.18129472 -0.14947953  0.02673052  0.09009637 -0.12237762</code></pre>
<p>TA to remind you about <a href="https://r4ds.had.co.nz/iteration.html#for-loops">parts of a for loop</a>:</p>
<ul>
<li>Output</li>
<li>Sequence</li>
<li>Body</li>
</ul>
<p>There are alternatives to for loops that remove all the repetitive book-keeping parts and let you focus on <strong>what</strong> is being done rather than <strong>how</strong> it is being done, for example the <code>map()</code> functions in the purrr package. We won’t use them here, because when you see these statistical methods first, I think the for loop syntax more closely matches the textual description of what is happening (at least how Faraway describes it).</p>
</div>
<div id="the-sample-function" class="section level2">
<h2>The <code>sample()</code> function</h2>
<p>Used in two ways (in Chapter 3 in Faraway):</p>
<ol style="list-style-type: decimal">
<li><p>To randomly permute a set of values:</p>
<pre class="r"><code>sample(1:5)</code></pre>
<pre><code>## [1] 3 4 2 1 5</code></pre>
<pre class="r"><code>sample(c(&quot;a&quot;, &quot;b&quot;, &quot;c&quot;))</code></pre>
<pre><code>## [1] &quot;a&quot; &quot;c&quot; &quot;b&quot;</code></pre>
<p>With no further arguments, <code>sample()</code> will randomly reorder the vector you give it.</p></li>
<li><p>To sample with replacement from a set of numbers, add <code>replace = TRUE</code>:</p>
<pre class="r"><code>sample(1:5, replace = TRUE)</code></pre>
<pre><code>## [1] 4 3 3 3 5</code></pre>
<pre class="r"><code>sample(c(&quot;a&quot;, &quot;b&quot;, &quot;c&quot;), replace = TRUE)</code></pre>
<pre><code>## [1] &quot;a&quot; &quot;c&quot; &quot;c&quot;</code></pre></li>
</ol>
<p>In both cases we are omitting the <code>size</code> argument, which by default is the same as the length of the input vector.</p>
</div>
</div>
<div id="bootstrap-confidence-intervals" class="section level1">
<h1>Bootstrap confidence intervals</h1>
<p><strong>Overall idea:</strong> To understand the sampling distribution of a parameter estimate, generate data that approximate what repeated experiments/samples would look like.</p>
<p><strong>Procedure</strong> From Faraway (<em>Model based bootstrap</em>)</p>
<p>Repeat many times:</p>
<ol style="list-style-type: decimal">
<li>Generate <span class="math inline">\(\epsilon^*\)</span> by sampling with replacement from the residuals, <span class="math inline">\(e_1, \ldots, e_n\)</span>.</li>
<li>Form <span class="math inline">\(y^* = X\hat{\beta} + \epsilon^*\)</span>.</li>
<li>Compute <span class="math inline">\(\hat{\beta}^*\)</span> from <span class="math inline">\((X, y^*)\)</span>.</li>
</ol>
<p>Examine distribution of parameter estimates generated by bootstrap to make inferences on true parameter value.</p>
<div id="setup" class="section level2">
<h2>Setup</h2>
<p>Model based bootstrapping requires us to assume a specific model form, fit it:</p>
<pre class="r"><code>lmod &lt;- lm(Species ~ Area + Elevation + Nearest + Scruz + Adjacent, 
  data = gala)</code></pre>
<p>And retain the fitted values and residuals:</p>
<pre class="r"><code>resids &lt;- residuals(lmod)
preds &lt;- fitted(lmod)</code></pre>
</div>
<div id="a-single-bootstrap-sample" class="section level2">
<h2>A single bootstrap sample</h2>
<p>A single bootstrap dataset is constructed by adding the fitted values (i.e. <span class="math inline">\(X\hat{\beta}\)</span>), and bootstrapped errors (a sample with replacement from the residuals):</p>
<pre class="r"><code># bootstrapped errors
(errors &lt;- sample(resids, replace = TRUE))</code></pre>
<pre><code>##         Eden      Isabela     Espanola     Champion SanCristobal 
##   -20.314202   -39.403558    49.343513    14.635734    73.048122 
##       Pinzon      Isabela    SantaCruz      Enderby     Gardner1 
##   -42.475375   -39.403558   182.583587   -28.785943    62.033276 
##       Pinzon     Champion    Bartolome        Pinta      SantaFe 
##   -42.475375    14.635734    38.273154  -111.679486   -23.376486 
##        Pinta    Bartolome     Genovesa      Isabela     Espanola 
##  -111.679486    38.273154    40.497176   -39.403558    49.343513 
##       Pinzon       Rabida       Baltra      Coamano    SantaCruz 
##   -42.475375    -5.553122   -58.725946    38.383916   182.583587 
##       Darwin     Caldwell        Pinta      Tortuga      Seymour 
##    19.018992   -26.330659  -111.679486   -36.935732    -5.805095</code></pre>
<pre class="r"><code># bootstrapped response
preds + errors</code></pre>
<pre><code>##       Baltra    Bartolome     Caldwell     Champion      Coamano 
##   96.4117443  -46.6767121   78.6741729   25.0000000   36.6642065 
## Daphne.Major Daphne.Minor       Darwin         Eden      Enderby 
##    0.6123302   -5.4838900  173.5645950   -0.4717408   92.8192184 
##     Espanola   Fernandina     Gardner1     Gardner2     Genovesa 
##    5.1811115  111.6253322   34.2398785  -47.0456905  -23.8736612 
##      Isabela     Marchena       Onslow        Pinta       Pinzon 
##  274.7240716  126.9676948   44.5344083  176.2759284  199.8188885 
##   Las.Plazas       Rabida SanCristobal  SanSalvador    SantaCruz 
##   -7.3995684   70.0000000  148.2259319  316.0602339  444.0000000 
##      SantaFe   SantaMaria      Seymour      Tortuga         Wolf 
##  104.3954776  169.2859692  -61.8743916   16.0000000   20.8954789</code></pre>
<p>In this example our model involves multiple terms so it’s a little hard to visualise. But here are the original fitted values (blue open dots) along with the a bootstrapped set of response values (black filled dots) against one of the predictors, <code>Elevation</code>:</p>
<pre class="r"><code>ggplot(gala, aes(Elevation, preds)) +
  geom_point(color =  &quot;#377EB8&quot;, shape = 21) +
  geom_point(aes(y = preds + errors), color = &quot;black&quot;)+
  ylim(c(-200, 500))</code></pre>
<p><img src="/lab/lab-6_files/figure-html/unnamed-chunk-9-1.png" width="576" /></p>
<p>Here’s another one:</p>
<pre class="r"><code>errors &lt;- sample(resids, replace = TRUE)
ggplot(gala, aes(Elevation, preds)) +
  geom_point(color =  &quot;#377EB8&quot;, shape = 21) +
  geom_point(aes(y = preds + errors), color = &quot;black&quot;) +
  ylim(c(-200, 500))</code></pre>
<p><img src="/lab/lab-6_files/figure-html/unnamed-chunk-10-1.png" width="576" /></p>
<p>Notice this process retains the structure implied by the fitted model. So, if our model has a large effect due to Elevation, we should maintain that effect in our bootstrap samples.</p>
</div>
<div id="repeating-many-times" class="section level2">
<h2>Repeating many times</h2>
<p>We can repeat this process many times each time fitting the model and retaining the estimated coefficients:</p>
<pre class="r"><code>nb &lt;- 4000
coefmat &lt;- matrix(NA, nrow = nb, ncol = 6)
colnames(coefmat) &lt;- names(coef(lmod))
for (i in 1:nb){
  booty &lt;- preds + sample(resids, replace = TRUE)
  bmod &lt;- update(lmod, booty ~ .)
  coefmat[i, ] &lt;- coef(bmod)
}</code></pre>
<p>Then using these many estimated coefficients we can construct confidnce intervals using the percentile method:</p>
<pre class="r"><code>(cis &lt;- apply(coefmat, 2, quantile, probs = c(0.025, 0.975)))</code></pre>
<pre><code>##       (Intercept)        Area Elevation   Nearest      Scruz    Adjacent
## 2.5%    -25.04466 -0.06304558 0.2259949 -1.683388 -0.6046124 -0.10553011
## 97.5%    41.41317  0.02103163 0.4198246  2.139087  0.1760862 -0.03806448</code></pre>
<p>Or create density plots on individual parameters:</p>
<pre class="r"><code>coefmat &lt;- as_tibble(coefmat)
cis &lt;- as_tibble(cis)

ggplot(coefmat, aes(x = Area)) +
  geom_density() +
  geom_vline(aes(xintercept = Area), data = cis, linetype = &quot;dashed&quot;,
    color = &quot;grey20&quot;) +
  labs(title = 
      expression(paste(&quot;Bootstrap estimate of the sampling distribution for &quot;, hat(beta)[Area])))</code></pre>
<p><img src="/lab/lab-6_files/figure-html/unnamed-chunk-13-1.png" width="576" /></p>
</div>
</div>
<div id="permutation-tests" class="section level1">
<h1>Permutation tests</h1>
<p><strong>Overall idea:</strong> To understand the null distribution of a test statistic, approximate what repeated experiments/samples would look like, <strong>if the null hypothesis was true</strong>.</p>
<p><strong>Procedure</strong></p>
<p>Repeat many times:</p>
<ol style="list-style-type: decimal">
<li>Generate <span class="math inline">\((X^*, y^*)\)</span> by permutation, in a way suggested by the null hypothesis.</li>
<li>Compute test statistic <span class="math inline">\(T(X^*, y^*)\)</span>.</li>
</ol>
<p>Compare observed test statistic to the distribution of test statistics generated by permutation, to conduct a hypthothesis test.</p>
<div id="an-overall-f-test-example" class="section level2">
<h2>An overall F-test example</h2>
<p>Faraways chooses an example with a not too small overall F-test p-value (I’ve given this model object a different name to Faraway to emphasize this is not the same model as <code>lmod</code> above):</p>
<pre class="r"><code>lmod_small &lt;- lm(Species ~ Nearest + Scruz, data = gala)
lms &lt;- summary(lmod_small)</code></pre>
<p>The overall F-test statistic is available:</p>
<pre class="r"><code>lms$fstatistic</code></pre>
<pre><code>##      value      numdf      dendf 
##  0.6019558  2.0000000 27.0000000</code></pre>
<p>which we can use to find the corresponding p-value:</p>
<pre class="r"><code>1 - pf(lms$fstatistic[1], lms$fstatistic[2], lms$fstatistic[3])</code></pre>
<pre><code>##     value 
## 0.5549255</code></pre>
<p>This p-value is based on our assumption of Normal errors. We’ll save the statistic for later:</p>
<pre class="r"><code>obs_fstat &lt;- lms$fstat[1]</code></pre>
<p>The permutation approach attempts to find the null distribution of this test statistic without relying on any distributional assumptions. The null hypthothesis in this overall F-test, is that none of the explanatory variables impact our response. If this was the case, the response value we see for a particular island shouldn’t depend on its attributes. We should have been just as likely to see 58 species on Bartolome and 31 species on Baltra instead of the other way around. In fact, any permutation of the response values assigned to islands should have been equally likely to occur.</p>
<p><em>(Notice this feels a little awkward with observational data. It is generally much easier to justify a permutation approach in a randomized experiment, where the treatment variables were actually assigned to units at random.)</em></p>
</div>
<div id="a-single-permutation" class="section level2">
<h2>A single permutation</h2>
<p>To generate a null distribution of the test statistic we consider permutations of the response variable.</p>
<pre class="r"><code>permuted_species &lt;- sample(gala$Species)</code></pre>
<p>Again its hard to visualise becasue we have a few variables involved, but take a look at this permuted response (black filled points) against <code>Elevation</code>:</p>
<pre class="r"><code>ggplot(gala, aes(Elevation, Species)) +
  geom_point(color = &quot;#377EB8&quot;, shape = 21) +
  geom_point(aes(y = permuted_species), color = &quot;black&quot;) +
  ylim(c(-200, 500))</code></pre>
<p><img src="/lab/lab-6_files/figure-html/unnamed-chunk-19-1.png" width="576" /></p>
<p>Notice that a key difference between this and the bootstrap approach is that we break relationships here. In the original data there was a strong relationship between <code>Elevation</code> and <code>Species</code>, but under the null hypothesis there isn’t, and our permutated data reflects this.</p>
<p>To get a test-statistic from this data, we fit the model of interest and extract the F-statistic:</p>
<pre class="r"><code>lm_permutation &lt;- lm(permuted_species ~ Nearest + Scruz, data = gala)
summary(lm_permutation)$fstat[1]</code></pre>
<pre><code>##    value 
## 7.434452</code></pre>
<p>This is an example of one test statistic generated under the null hypothesis, to conduct a test we need a whole lot of them.</p>
</div>
<div id="scaling-up" class="section level2">
<h2>Scaling up</h2>
<pre class="r"><code>nperms &lt;- 4000
fstats &lt;- numeric(nperms)
for (i in 1:nperms){
  lmods &lt;- lm(sample(Species) ~ Nearest + Scruz, data = gala)
  fstats[i] &lt;- summary(lmods)$fstat[1]
}</code></pre>
<p>These statistics then form our null distribution:</p>
<pre class="r"><code>ggplot(mapping = aes(x = fstats)) +
  geom_density() +
  geom_vline(aes(xintercept = obs_fstat), linetype = &quot;dashed&quot;,
    color = &quot;grey20&quot;) +
  labs(title = &quot;Permutation based null distribution for the overall F-statistic&quot;,
    xlab = &quot;F-statistic&quot;)</code></pre>
<p><img src="/lab/lab-6_files/figure-html/unnamed-chunk-22-1.png" width="576" /></p>
<p>And to get a p-value, we find the proportion of test statistics generated under the null hypothesis that are more extreme than that observed:</p>
<pre class="r"><code>mean(fstats &gt; obs_fstat)</code></pre>
<pre><code>## [1] 0.5565</code></pre>
<p>In this case, pretty close to the p-value derived using the Normal assumptions.</p>
</div>
<div id="an-individual-parameter-example" class="section level2">
<h2>An individual parameter example</h2>
<p>You can also use a permuation approach to test individual parameter estimates in a regression. Now, since the null hypothesis is only about one parameter, after accounting for the effects of the other variables, we only permute values of the explanatory varibale of interest.</p>
<p>For example, in <code>lmod_small</code> we might ask only about the parameter on <code>Scruz</code>, <span class="math inline">\(\beta_{\text{Scruz}}\)</span>. For the null hypothesis <span class="math inline">\(\beta_{\text{Scruz}} = 0\)</span>, the Normal based inference gives us a p-value of 0.28:</p>
<pre class="r"><code>summary(lmod_small)$coef</code></pre>
<pre><code>##               Estimate Std. Error   t value    Pr(&gt;|t|)
## (Intercept) 98.4765494 28.3561013  3.472852 0.001751461
## Nearest      1.1792236  1.9184475  0.614676 0.543914527
## Scruz       -0.4406401  0.4025312 -1.094673 0.283329519</code></pre>
<p>We’ll still the t-statistic as our test statistic, so we’ll keep the value from the observed data:</p>
<pre class="r"><code>obs_tstat &lt;- summary(lmod_small)$coef[3, 3]</code></pre>
<p>But now we’ll use permutation to find a null distribution rather than relying on theory and comparing it to a Student’s t-distribution.</p>
<pre class="r"><code>tstats &lt;- numeric(nperms)
for (i in 1:nperms){
  lmods &lt;- lm(Species ~ Nearest + sample(Scruz), data = gala)
  tstats[i] &lt;- summary(lmods)$coef[3, 3]
}</code></pre>
<p>Here’s the resulting null distribution, with the t-distribution that the Normal assumption would lead to overlaid:</p>
<pre class="r"><code>ggplot(mapping = aes(x = tstats)) +
  geom_density() +
  geom_vline(aes(xintercept = obs_tstat), linetype = &quot;dashed&quot;,
    color = &quot;grey20&quot;) +
  stat_function(fun = dt, args = list(df = lmod_small$df.residual),
    color= &quot;grey50&quot;)+
  labs(title = expression(
    paste(&quot;Permutation based null distribution for the t-statistic, &quot;, beta[Scruz]==0)),
    xlab = &quot;t-statistic&quot;)</code></pre>
<p><img src="/lab/lab-6_files/figure-html/unnamed-chunk-27-1.png" width="576" /></p>
<p>Notice the null distribution based on the permutation test doesn’t seem that close to the t-distribution. However, the p-value isn’t particularly different in this case:</p>
<pre class="r"><code>mean(abs(tstats) &gt; abs(obs_tstat))</code></pre>
<pre><code>## [1] 0.26375</code></pre>
</div>
</div>
