---
title: Lab 8 
date: "2019-02-27"
weeks: "8"
weeks_weight: 2
types: "lab"
no_pdf: true
output:
  blogdown::html_page:
    df_print: tibble
---



<p>Concepts:</p>
<ul>
<li>Interpretation after log transforms</li>
<li>Plotting and predicting with transformations</li>
<li>Lack of fit tests</li>
</ul>
<div id="interpretation-after-log-transforms" class="section level1">
<h1>Interpretation after log transforms</h1>
<pre class="r"><code>library(tidyverse)
library(broom)
library(Sleuth3)</code></pre>
<pre class="r"><code>?ex0921</code></pre>
<blockquote>
<p>“The goal is to see whether the distribution of species’ ingestion rates depends on the percentage of organic matter in the food, after accounting for the effect of species weight and to describe the association.”</p>
</blockquote>
<div id="exploratory-analysis" class="section level2">
<h2>Exploratory analysis</h2>
<pre class="r"><code>library(GGally)
ex0921 %&gt;% 
  select(-Species) %&gt;% 
  ggpairs(
    upper = &quot;blank&quot;,
    lower = list(continuous = &quot;points&quot;, combo = &quot;box&quot;),
    diag = list(continuous = &quot;densityDiag&quot;, discrete = &quot;barDiag&quot;), 
    axisLabels=&#39;show&#39;
  )</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-2-1.png" width="672" /></p>
<p>Order of magnitude differences + clumping in low end suggests log transform. Easiest way for this library (GGally) is to produce logged versions of the vars:</p>
<pre class="r"><code>ex0921_log &lt;- ex0921 %&gt;% 
  mutate_if(is.numeric, log)

ex0921_log %&gt;% 
  select(-Species) %&gt;% 
  ggpairs(
    upper = &quot;blank&quot;,
    lower = list(continuous = &quot;points&quot;, combo = &quot;box&quot;),
    diag = list(continuous = &quot;densityDiag&quot;, discrete = &quot;barDiag&quot;), 
    axisLabels=&#39;show&#39;
  )</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-3-1.png" width="672" /></p>
<p>A tentative model:</p>
<pre class="r"><code>fit_ingest &lt;- lm(log(Ingestion) ~ log(Organic) + log(Weight), data = ex0921)
summary(fit_ingest)</code></pre>
<pre><code>## 
## Call:
## lm(formula = log(Ingestion) ~ log(Organic) + log(Weight), data = ex0921)
## 
## Residuals:
##     Min      1Q  Median      3Q     Max 
## -1.3627 -0.1313  0.1975  0.3218  0.6421 
## 
## Coefficients:
##              Estimate Std. Error t value Pr(&gt;|t|)    
## (Intercept)   3.39507    0.32447  10.463 1.46e-08 ***
## log(Organic) -0.91681    0.09377  -9.777 3.75e-08 ***
## log(Weight)   0.77083    0.05553  13.882 2.43e-10 ***
## ---
## Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1
## 
## Residual standard error: 0.5448 on 16 degrees of freedom
## Multiple R-squared:  0.9797, Adjusted R-squared:  0.9771 
## F-statistic: 385.5 on 2 and 16 DF,  p-value: 2.917e-14</code></pre>
<pre class="r"><code>fit_ingest_diag &lt;- augment(fit_ingest, data = ex0921)

ggplot(fit_ingest_diag, aes(.fitted, .resid)) +
  geom_hline(yintercept = 0, color = &quot;white&quot;, size = 2) +
  geom_point()</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-5-1.png" width="672" /></p>
<p>Looks ok.</p>
<p><strong>Your turn</strong> Check other diagnostics.</p>
<pre class="r"><code>summary(fit_ingest)</code></pre>
<pre><code>## 
## Call:
## lm(formula = log(Ingestion) ~ log(Organic) + log(Weight), data = ex0921)
## 
## Residuals:
##     Min      1Q  Median      3Q     Max 
## -1.3627 -0.1313  0.1975  0.3218  0.6421 
## 
## Coefficients:
##              Estimate Std. Error t value Pr(&gt;|t|)    
## (Intercept)   3.39507    0.32447  10.463 1.46e-08 ***
## log(Organic) -0.91681    0.09377  -9.777 3.75e-08 ***
## log(Weight)   0.77083    0.05553  13.882 2.43e-10 ***
## ---
## Signif. codes:  0 &#39;***&#39; 0.001 &#39;**&#39; 0.01 &#39;*&#39; 0.05 &#39;.&#39; 0.1 &#39; &#39; 1
## 
## Residual standard error: 0.5448 on 16 degrees of freedom
## Multiple R-squared:  0.9797, Adjusted R-squared:  0.9771 
## F-statistic: 385.5 on 2 and 16 DF,  p-value: 2.917e-14</code></pre>
<p><strong>Your Turn</strong>:</p>
<ul>
<li>Interpret the coefficient on log(Weight) on the log scale</li>
<li>Interpret the coefficient on log(Weight) on the original scale</li>
<li>Interpret the effect of Weight on the original scale</li>
</ul>
<pre class="r"><code># ... assuming response is symmetric on log scale
ggplot(fit_ingest_diag, aes(sample = .resid)) + 
  geom_qq() +
  geom_qq_line()</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-7-1.png" width="672" /></p>
<pre class="r"><code># hard to tell, maybe suspicious here...
# (check later: box-cox transform)</code></pre>
</div>
</div>
<div id="plotting-predictions-with-transforms" class="section level1">
<h1>Plotting predictions with transforms</h1>
<p>Let’s say we want a plot of Ingestion rates as a function of Organic material for an average weight species</p>
<p>Our previous approach works just as well here:</p>
<pre class="r"><code>library(modelr)
pred_df &lt;- data_grid(data = ex0921, 
  Weight = mean(Weight),
  Organic = seq(1, 100, 1)
)

add_predictions(model = fit_ingest, data = pred_df)</code></pre>
<pre><code>## # A tibble: 100 x 3
##    Weight Organic  pred
##     &lt;dbl&gt;   &lt;dbl&gt; &lt;dbl&gt;
##  1   215.       1  7.54
##  2   215.       2  6.90
##  3   215.       3  6.53
##  4   215.       4  6.27
##  5   215.       5  6.06
##  6   215.       6  5.89
##  7   215.       7  5.75
##  8   215.       8  5.63
##  9   215.       9  5.52
## 10   215.      10  5.42
## # … with 90 more rows</code></pre>
<p>But these are predictions of <code>log(Ingestion)</code>.</p>
<p>To plot the predictions are confidence intervals for them it’s actaully a little easier to use <code>augment()</code> from broom, rather than <code>add_predictions()</code> from modelr, because you can get the standard errors. Let’s do that and add 95% confidence limits on these predicted means:</p>
<pre class="r"><code>fit_df &lt;- df.residual(fit_ingest)
pred_df_se &lt;- augment(fit_ingest, newdata = pred_df) %&gt;% 
  mutate(
    lower = .fitted - qt(0.975, df = fit_df) * .se.fit,
    upper = .fitted + qt(0.975, df = fit_df) * .se.fit,
    )</code></pre>
<p>Let’s look at these predictions on the modelled scale:</p>
<pre class="r"><code>ggplot(pred_df_se, aes(log(Organic), .fitted)) +
  geom_line() +
  ylab(&quot;Estimated mean log(Ingestion)&quot;)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-10-1.png" width="672" /></p>
<pre class="r"><code># linear on the log-log scale</code></pre>
<p>To exmaine on the original scale, back transform the estimate:</p>
<pre class="r"><code># just put it on the orignal scale
ggplot(pred_df_se, aes(log(Organic), exp(.fitted))) +
  geom_line() +
  ylab(&quot;Estimated mean Ingestion&quot;)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-11-1.png" width="672" /></p>
<p>Confidence band on modelled scale:</p>
<pre class="r"><code>ggplot(pred_df_se, aes(log(Organic), .fitted)) +
  geom_line() +
  geom_ribbon(aes(ymax = upper, ymin = lower), alpha = 0.2) +
  ylab(&quot;Estimated mean Ingestion&quot;)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-12-1.png" width="672" /></p>
<p>We can also backtransform confidence limits:</p>
<pre class="r"><code>ggplot(pred_df_se, aes(log(Organic), exp(.fitted))) +
  geom_line() +
  geom_ribbon(aes(ymax = exp(upper), ymin = exp(lower)), alpha = 0.2) +
  ylab(&quot;Estimated mean Ingestion&quot;)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-13-1.png" width="672" /></p>
<p>And plot against untransformed Organic</p>
<pre class="r"><code>ggplot(pred_df_se, aes(Organic, exp(.fitted))) +
  geom_line() +
  geom_ribbon(aes(ymax = exp(upper), ymin = exp(lower)), alpha = 0.2) +
  ylab(&quot;Estimated mean Ingestion&quot;)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-14-1.png" width="672" /></p>
</div>
<div id="lack-of-fit-f-test-example" class="section level1">
<h1>Lack of fit F-test example</h1>
<pre class="r"><code>?ex1030</code></pre>
<p>Some exploration:</p>
<pre class="r"><code>ex1030 %&gt;%  
  ggplot(aes(Age, WeeklyEarnings)) +
    geom_point(alpha = I(0.2))</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-16-1.png" width="672" /></p>
<pre class="r"><code>ex1030 %&gt;%  
  ggplot(aes(factor(EducationCode), WeeklyEarnings)) +
    geom_boxplot()</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-16-2.png" width="672" /></p>
<pre class="r"><code>ex1030 %&gt;%  
  ggplot(aes(Race, WeeklyEarnings)) +
    geom_boxplot() + 
    facet_wrap(~ Region)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-16-3.png" width="672" /></p>
<pre class="r"><code># What else?</code></pre>
<p>Fit a tenative model:</p>
<pre class="r"><code>fit_earn &lt;- lm(log(WeeklyEarnings) ~ Race*Region + Age + 
    EducationCategory + MetropolitanStatus, data = ex1030)

fit_earn_diag &lt;- augment(fit_earn, data = ex1030)

ggplot(fit_earn_diag, aes(.fitted, .resid)) +
  geom_point(alpha = 0.2)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-17-1.png" width="672" /></p>
<p>Some bad low outliers (consequence of the log transfom) hopefully not too influential (should check…).</p>
<p>Setting up a satuarated model:</p>
<pre class="r"><code># like one mean per group, where group is every combination of vars
ex1030 &lt;- ex1030 %&gt;% 
  mutate(
    groups = interaction(Race, Region, Age, EducationCategory, MetropolitanStatus)
  )
length(unique(ex1030$groups)) # 2224 combinations</code></pre>
<pre><code>## [1] 2224</code></pre>
<pre class="r"><code>ex1030 %&gt;% 
  group_by(groups) %&gt;% 
  count() %&gt;% 
  filter(n == 1)</code></pre>
<pre><code>## # A tibble: 1,241 x 2
##    groups                                             n
##    &lt;fct&gt;                                          &lt;int&gt;
##  1 White.Northeast.18.AssocDegAcadem.Metropolitan     1
##  2 White.South.20.AssocDegAcadem.Metropolitan         1
##  3 White.Midwest.22.AssocDegAcadem.Metropolitan       1
##  4 White.Northeast.23.AssocDegAcadem.Metropolitan     1
##  5 White.South.24.AssocDegAcadem.Metropolitan         1
##  6 White.Midwest.25.AssocDegAcadem.Metropolitan       1
##  7 Black.South.25.AssocDegAcadem.Metropolitan         1
##  8 White.Midwest.26.AssocDegAcadem.Metropolitan       1
##  9 Black.South.26.AssocDegAcadem.Metropolitan         1
## 10 White.Northeast.27.AssocDegAcadem.Metropolitan     1
## # … with 1,231 more rows</code></pre>
<pre class="r"><code># 1241 groups with only one observation in them</code></pre>
<p>This is how we would fit a saturated model, but don’t do it, it takes forever:</p>
<pre><code>fit_earn &lt;- lm(log(WeeklyEarnings) ~ 
    Race*Region*factor(Age)*EducationCategory*MetropolitanStatus, data = ex1030)
# Takes too long!!!</code></pre>
<p>Rather than fitting with lm (it takes awhile), I’m going to find the SS manually:</p>
<pre class="r"><code>RSS_sat &lt;- ex1030 %&gt;% 
  group_by(groups) %&gt;% 
  mutate(
    grp_avg = mean(log(WeeklyEarnings))
  ) %&gt;% 
  with(sum((log(WeeklyEarnings) - grp_avg)^2))</code></pre>
<pre class="r"><code>RSS_earn &lt;- sum(residuals(fit_earn)^2)
n &lt;- sum(!is.na(ex1030$WeeklyEarnings))
# any(is.na(ex1030))  
  
p_sat &lt;- length(unique(ex1030$groups))
p_earn &lt;- length(coef(fit_earn))

# lack of fit F-test, check my work!
df_top &lt;- (p_sat - p_earn)
df_bottom &lt;- (n - p_sat)
F &lt;- ((RSS_earn - RSS_sat)/df_top) / (RSS_sat / df_bottom)
1 - pf(F, df_top, df_bottom)</code></pre>
<pre><code>## [1] 0.4684688</code></pre>
<p>I’m surprised by this a little, I suspect becasue <code>df_bottom</code> is small (relative to <span class="math inline">\(n\)</span>) we have very little power to detect problems (but also check my work).</p>
<p>It’s probably more common to use the lack-of-fit to examine more directed questions like: is it OK to treat Age as linear?</p>
<pre class="r"><code>fit_earnAge &lt;- lm(log(WeeklyEarnings) ~ Race*Region + factor(Age) + 
    EducationCategory + MetropolitanStatus, data = ex1030)
anova(fit_earn, fit_earnAge)</code></pre>
<pre><code>## # A tibble: 2 x 6
##   Res.Df   RSS    Df `Sum of Sq`     F  `Pr(&gt;F)`
##    &lt;dbl&gt; &lt;dbl&gt; &lt;dbl&gt;       &lt;dbl&gt; &lt;dbl&gt;     &lt;dbl&gt;
## 1   4926 1586.    NA        NA   NA    NA       
## 2   4862 1521.    64        64.2  3.21  2.89e-16</code></pre>
<pre class="r"><code># nope</code></pre>
<p>But quadratic might be enough:</p>
<pre class="r"><code>fit_earnAge2 &lt;- lm(log(WeeklyEarnings) ~ Race*Region + Age + I(Age^2) + 
    EducationCategory + MetropolitanStatus, data = ex1030)
anova(fit_earnAge2, fit_earnAge)</code></pre>
<pre><code>## # A tibble: 2 x 6
##   Res.Df   RSS    Df `Sum of Sq`      F `Pr(&gt;F)`
##    &lt;dbl&gt; &lt;dbl&gt; &lt;dbl&gt;       &lt;dbl&gt;  &lt;dbl&gt;    &lt;dbl&gt;
## 1   4925 1538.    NA        NA   NA       NA    
## 2   4862 1521.    63        17.0  0.864    0.769</code></pre>
<pre class="r"><code>pred_df_age &lt;- data_grid(ex1030, .model = fit_earnAge2,
  Age = seq(16, 85, 1)
)
# Check the values used for the other vars in the model</code></pre>
<p>Take a look at this fitted form:</p>
<pre class="r"><code>augment(fit_earnAge2, newdata = pred_df_age) %&gt;% 
  mutate(
    lower = .fitted - 1.96 * .se.fit,
    upper = .fitted + 1.96 * .se.fit,
    ) %&gt;% 
ggplot(aes(Age, exp(.fitted))) +
  geom_line() +
  geom_ribbon(aes(ymax = exp(upper), ymin = exp(lower)), alpha = 0.2) +
  ylab(&quot;Estimated mean weekly earnings&quot;)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-24-1.png" width="672" /></p>
<p>I might lean towards something slightly less parametric:</p>
<pre class="r"><code>library(splines)
fit_earnAge3 &lt;- lm(log(WeeklyEarnings) ~ Race*Region + bs(Age, 4) + 
    EducationCategory + MetropolitanStatus, data = ex1030)

augment(fit_earnAge3, newdata = pred_df_age) %&gt;% 
  mutate(
    lower = .fitted - 1.96 * .se.fit,
    upper = .fitted + 1.96 * .se.fit,
    ) %&gt;% 
ggplot(aes(Age, exp(.fitted))) +
  geom_line() +
  geom_ribbon(aes(ymax = exp(upper), ymin = exp(lower)), alpha = 0.2) +
  ylab(&quot;Estimated mean weekly earnings&quot;)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-25-1.png" width="672" /></p>
<p>But don’t forget about where the data is:</p>
<pre class="r"><code>last_plot() + geom_jitter(aes(Age, 500), data = ex1030, 
  position = position_jitter(height = 50), alpha = 0.2)</code></pre>
<p><img src="/lab/lab-8_files/figure-html/unnamed-chunk-26-1.png" width="672" /></p>
</div>
