---
title: Lab 9 
date: "2019-03-06"
weeks: "9"
weeks_weight: 2
types: "lab"
no_pdf: true
output:
  blogdown::html_page:
    df_print: tibble
---



<p>Goals:</p>
<ul>
<li>Lasso and ridge regression</li>
<li>Sensitivity of model selection to transformations</li>
</ul>
<pre class="r"><code>library(tidyverse)</code></pre>
<div id="lasso-and-ridge-regression" class="section level1">
<h1>Lasso and ridge regression</h1>
<p><em>Work through code from Faraway 11.3 and 11.4</em></p>
<p>Meat fat content example from model selection examples in class:</p>
<pre class="r"><code>data(meatspec, package = &quot;faraway&quot;)
# Faraway takes the first 172 obs as training
# you shouldn&#39;t generally do that without careful
# thought
ind &lt;- 1:172
trainmeat &lt;- meatspec[ind, ]
testmeat &lt;- meatspec[-ind, ]

# center all columns of x for ridge and lasso
x &lt;- scale(meatspec[, -101], center = T, scale = F)
y &lt;- meatspec[, 101]

testx &lt;- x[-ind, ]
testy &lt;- y[-ind]
trainx &lt;- x[ind, ]
trainy &lt;- y[ind]</code></pre>
<pre class="r"><code>rmse &lt;- function(x,y) sqrt(mean((x-y)^2))</code></pre>
<pre class="r"><code>fit_all &lt;- lm(fat ~ ., data = trainmeat)
(rmse_all &lt;- rmse(testmeat$fat, predict(fit_all, newdata = testmeat)))</code></pre>
<pre><code>## [1] 3.814</code></pre>
<p>Recall that a model with all predictors, had an estimated root mean square prediction error of about 3.81.</p>
<pre class="r"><code>fit_best &lt;- lm(fat ~ V1+V17+V19+V20+V21+V24+V31+V35+V37+V39+V40+V41+V44+V47+V48+
    V51+V53+V57,
  data = trainmeat)
(rmse_best &lt;- rmse(testmeat$fat, predict(fit_best, newdata = testmeat)))</code></pre>
<pre><code>## [1] 1.837097</code></pre>
<p>We also found some smaller models on Monday with smaller error, e.g., 1.84.</p>
<div id="ridge-regression" class="section level2">
<h2>Ridge regression</h2>
<p>Estimating the coefficients for a sequence of tuning parameters:</p>
<pre class="r"><code>library(MASS)
rgmod &lt;- lm.ridge(I(trainy - mean(trainy)) ~ trainx,
                  lambda = seq(0, 5e-8, 1e-9))

matplot(rgmod$lambda, coef(rgmod), type = &quot;l&quot;, 
  xlab = expression(lambda), 
  ylab = expression(hat(beta)), col = 1)</code></pre>
<p><img src="/lab/lab-9_files/figure-html/unnamed-chunk-7-1.png" width="672" /></p>
<p>Choosing one tuning parameter:</p>
<pre class="r"><code>(min_gcv &lt;- which.min(rgmod$GCV))</code></pre>
<pre><code>## 1.8e-08 
##      19</code></pre>
<pre class="r"><code>matplot(rgmod$lambda, coef(rgmod), type = &quot;l&quot;, 
  xlab = expression(lambda), 
  ylab = expression(hat(beta)), col = 1)
abline(v = rgmod$lambda[min_gcv])</code></pre>
<p><img src="/lab/lab-9_files/figure-html/unnamed-chunk-8-1.png" width="672" /></p>
<p>Evaluating the predictive accuracy:</p>
<pre class="r"><code>ypred &lt;- scale(trainx, 
               center = F, 
               scale = rgmod$scales) %*% # scale covariates
  rgmod$coef[, min_gcv] + # multiply by estimated coefficients
  mean(trainy) # add back mean (since response was centered)

rmse(ypred, trainy)</code></pre>
<pre><code>## [1] 0.8159824</code></pre>
<pre class="r"><code>ypred &lt;- scale(testx, 
               center = F, 
               scale = rgmod$scales) %*% # scale covariates
  rgmod$coef[, min_gcv] + # multiply by estimated coefficients
  mean(trainy) # add back mean (since response was centered)
rmse(ypred, testy)</code></pre>
<pre><code>## [1] 4.067914</code></pre>
<p>One particularly bad prediction (<em>looks OK to me, why does Faraway get something different?</em>:</p>
<pre class="r"><code>c(ypred[13], testmeat$fat[13])</code></pre>
<pre><code>## [1] 11.32387 34.80000</code></pre>
<pre class="r"><code>rmse(ypred[-13], testmeat$fat[-13])</code></pre>
<pre><code>## [1] 1.954433</code></pre>
<pre class="r"><code>cbind(ypred, testy)</code></pre>
<pre><code>##               testy
## 173 48.047247  47.7
## 174 23.143626  25.5
## 175  8.944386  10.6
## 176  3.461404   2.0
## 177  6.141724   4.7
## 178  6.741146   6.8
## 179 10.116475   8.6
## 180 11.781558  11.2
## 181 13.553112  13.8
## 182 14.937346  17.7
## 183 28.464430  23.3
## 184 24.774611  29.0
## 185 11.323870  34.8
## 186 46.180519  47.8
## 187  9.960860  11.1
## 188  4.791950   2.9
## 189  9.148401   4.8
## 190  5.900053   5.6
## 191  6.465477   6.2
## 192  6.794227   6.4
## 193  6.004676   6.8
## 194  6.815092   7.1
## 195  7.820161   7.3
## 196  8.016253   7.9
## 197 10.328492   9.2
## 198  9.358988  10.1
## 199 11.897665  10.7
## 200  7.628819  11.2
## 201 11.506780  12.5
## 202 14.621129  14.3
## 203 11.126646  16.0
## 204 16.681274  17.0
## 205 16.686706  18.1
## 206 20.448977  19.4
## 207 23.345195  24.8
## 208 26.978289  27.2
## 209 29.363296  28.4
## 210 29.227825  29.2
## 211 29.045001  31.3
## 212 31.692496  33.8
## 213 37.691766  35.5
## 214 41.439211  42.5
## 215 46.180519  47.8</code></pre>
<pre class="r"><code>which.max(abs(ypred - testy))</code></pre>
<pre><code>## [1] 13</code></pre>
<pre class="r"><code>rmse(ypred[-13], testy[-13])</code></pre>
<pre><code>## [1] 1.954433</code></pre>
</div>
<div id="lasso" class="section level2">
<h2>Lasso</h2>
<pre class="r"><code>library(lars)</code></pre>
<p><strong>Example with a smaller set of predictors (the state life expectancy data from last week)</strong></p>
<p>Estimating the coefficients for a sequence of tuning parameters:</p>
<pre class="r"><code>statedata &lt;- data.frame(state.x77, row.names = state.abb)
lmod &lt;- lars(as.matrix(statedata[, -4]), statedata$Life)</code></pre>
<p>Choosing one tuning parameter:</p>
<pre class="r"><code>plot(lmod)</code></pre>
<p><img src="/lab/lab-9_files/figure-html/unnamed-chunk-13-1.png" width="672" /></p>
<pre class="r"><code>set.seed(123)
cvlmod &lt;- cv.lars(as.matrix(statedata[, -4]), statedata$Life)</code></pre>
<p><img src="/lab/lab-9_files/figure-html/unnamed-chunk-13-2.png" width="672" /></p>
<pre class="r"><code>(s &lt;- cvlmod$index[which.min(cvlmod$cv)])</code></pre>
<pre><code>## [1] 0.6565657</code></pre>
<p>Compare the coefficients in the lasso model:</p>
<pre class="r"><code>predict(lmod, s = s, type = &quot;coef&quot;, mode = &quot;fraction&quot;)$coef</code></pre>
<pre><code>##    Population        Income    Illiteracy        Murder       HS.Grad 
##  2.345262e-05  0.000000e+00  0.000000e+00 -2.398786e-01  3.528871e-02 
##         Frost          Area 
## -1.694932e-03  0.000000e+00</code></pre>
<p>to those from the least squares fit:</p>
<pre class="r"><code>coef(lm(Life.Exp ~ Population + Murder + HS.Grad + Frost, statedata))</code></pre>
<pre><code>##   (Intercept)    Population        Murder       HS.Grad         Frost 
##  7.102713e+01  5.013998e-05 -3.001488e-01  4.658225e-02 -5.943290e-03</code></pre>
<p><strong>Back to the meat fat example</strong></p>
<p>Estimating the coefficients for a sequence of tuning parameters:</p>
<pre class="r"><code>lassomod &lt;- lars(trainx, trainy)</code></pre>
<p>Choosing one tuning parameter:</p>
<pre class="r"><code>set.seed(123)
cvout &lt;- cv.lars(trainx, trainy)</code></pre>
<p><img src="/lab/lab-9_files/figure-html/unnamed-chunk-17-1.png" width="672" /></p>
<pre class="r"><code>(best_s &lt;- cvout$index[which.min(cvout$cv)])</code></pre>
<pre><code>## [1] 0.01010101</code></pre>
<p>Evaluating the predictive accuracy:</p>
<pre class="r"><code>predlars &lt;- predict(lassomod, testx, s = best_s, mode = &quot;fraction&quot;)
rmse(testy, predlars$fit)</code></pre>
<pre><code>## [1] 2.132218</code></pre>
<p>Examing which coefficients are non-zero:</p>
<pre class="r"><code>predlars &lt;- predict(lassomod, s = best_s, type = &quot;coef&quot;, mode = &quot;fraction&quot;)
plot(predlars$coef, type = &quot;h&quot;, ylab = &quot;Coefficient&quot;)</code></pre>
<p><img src="/lab/lab-9_files/figure-html/unnamed-chunk-19-1.png" width="672" /></p>
<pre class="r"><code>sum(predlars$coef != 0)</code></pre>
<pre><code>## [1] 20</code></pre>
</div>
</div>
<div id="sensitivity-of-model-selection" class="section level1">
<h1>Sensitivity of model selection</h1>
<p><em>Work through code in Faraway 10.3</em></p>
<pre class="r"><code>library(leaps)
source(&quot;http://stat552.cwick.co.nz/lecture/fortify-leaps.R&quot;)</code></pre>
<p>In class we used <code>regsubsets()</code> to select variables to predict life expectancy from other state level data. In particular, imagine we use an exhaustive search and choose a model with the highest adjusted R-squared:</p>
<pre class="r"><code>b &lt;- regsubsets(Life.Exp ~ ., data = statedata)
rs &lt;- summary(b) 
rs$which[which.max(rs$adjr2),]</code></pre>
<pre><code>## (Intercept)  Population      Income  Illiteracy      Murder     HS.Grad 
##        TRUE        TRUE       FALSE       FALSE        TRUE        TRUE 
##       Frost        Area 
##        TRUE       FALSE</code></pre>
<p>It’s possible this choice is sensitive both to indivudal points and transformations.</p>
<p>Alaska is unusual:</p>
<pre class="r"><code>lmod &lt;- lm(Life.Exp ~ ., data = statedata)
broom::augment(lmod) %&gt;% 
  arrange(desc(.hat))</code></pre>
<pre><code>## # A tibble: 50 x 16
##    .rownames Life.Exp Population Income Illiteracy Murder HS.Grad Frost
##    &lt;chr&gt;        &lt;dbl&gt;      &lt;dbl&gt;  &lt;dbl&gt;      &lt;dbl&gt;  &lt;dbl&gt;   &lt;dbl&gt; &lt;dbl&gt;
##  1 AK            69.3        365   6315        1.5   11.3    66.7   152
##  2 CA            71.7      21198   5114        1.1   10.3    62.6    20
##  3 HI            73.6        868   4963        1.9    6.2    61.9     0
##  4 NV            69.0        590   5149        0.5   11.5    65.2   188
##  5 NM            70.3       1144   3601        2.2    9.7    55.2   120
##  6 TX            70.9      12237   4188        2.2   12.2    47.4    35
##  7 NY            70.6      18076   4903        1.4   10.9    52.7    82
##  8 WA            71.7       3559   4864        0.6    4.3    63.5    32
##  9 OR            72.1       2284   4660        0.6    4.2    60      44
## 10 ND            72.8        637   5087        0.8    1.4    50.3   186
## # … with 40 more rows, and 8 more variables: Area &lt;dbl&gt;, .fitted &lt;dbl&gt;,
## #   .se.fit &lt;dbl&gt;, .resid &lt;dbl&gt;, .hat &lt;dbl&gt;, .sigma &lt;dbl&gt;, .cooksd &lt;dbl&gt;,
## #   .std.resid &lt;dbl&gt;</code></pre>
<p>Without it, the model selected changes:</p>
<pre class="r"><code>b &lt;- regsubsets(Life.Exp ~ ., data = statedata, subset = (state.abb != &quot;AK&quot;))
rs &lt;- summary(b) 
rs$which[which.max(rs$adjr2),]</code></pre>
<pre><code>## (Intercept)  Population      Income  Illiteracy      Murder     HS.Grad 
##        TRUE        TRUE       FALSE       FALSE        TRUE        TRUE 
##       Frost        Area 
##        TRUE        TRUE</code></pre>
<p>Notice Area and Population might benefit from a transform:</p>
<pre class="r"><code>stripchart(data.frame(scale(statedata)), method = &quot;jitter&quot;, las = 2, vertical = TRUE)</code></pre>
<p><img src="/lab/lab-9_files/figure-html/unnamed-chunk-24-1.png" width="672" /></p>
<p>If we transform them, the selected model changes:</p>
<pre class="r"><code>b &lt;- regsubsets(Life.Exp ~ log(Population) + Income + Illiteracy + Murder + HS.Grad + Frost + log(Area), statedata)
rs &lt;- summary(b)
rs$which[which.max(rs$adjr), ]</code></pre>
<pre><code>##     (Intercept) log(Population)          Income      Illiteracy 
##            TRUE            TRUE           FALSE           FALSE 
##          Murder         HS.Grad           Frost       log(Area) 
##            TRUE            TRUE            TRUE           FALSE</code></pre>
</div>
